<footer class="footer  bg-darkImg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center mt-60">
                <div class="footer-logo">
                    <img id="logo-footer" class="img-responive" src="../../../assets/images/logo/Logo_1651235830.png"
                        alt="">
                </div>
                <div class="col-lg-12">
                    <h6 class="text-white mt-60 w-75 m-auto">{{'footer.desc1'|translate}}</h6>
                    <p class="text-white w-75 m-auto mt-1 mb-3">{{'footer.desc2'|translate}}</p>
                    <h6 class="text-white w-75 m-auto mb-1 mt-3">{{'footer.desc3'|translate}}</h6>
                    <p class="text-white mb-60 w-75 m-auto">{{'footer.desc4'|translate}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 my-2">
                <div class="newsletter">
                    <h4 class="text-white mb-30">{{"footer.section1.title"|translate}}</h4>
                    <p class="text-white">{{"footer.section1.desc"|translate}}</p>
                    <div class="newsletter-input">
                        <input type="email" placeholder="{{'footer.section1.input'|translate}}" name="email">
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 my-2">
                <div class="opening-time">
                    <h4 class="text-white mb-30 text-center">{{"footer.section2.title"|translate}}</h4>
                    <ul>
                        <li class="d-flex justify-content-between">
                            <span>{{"footer.section2.days"|translate}}</span>
                            <span>{{"footer.section2.times"|translate}}</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>{{"footer.section2.subscriptions"|translate}}</span>
                            <span>{{"footer.section2.times"|translate}}</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>{{"footer.section2.suggestions"|translate}}</span>
                            <ng-container *ngFor="let social of social$ | async">
                                <span *ngIf="social.type.toLowerCase() == 'phone'">
                                    <a class="text-reset" [href]="'tel:'+social.value">{{social.value}}</a>
                                </span>
                            </ng-container>
                        </li>
                        <li>{{"footer.section2.holidays"|translate}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 my-2">
                <div class="contact">
                    <h4 class="text-white mb-30">{{"footer.section3.title"|translate}}</h4>
                    <ng-container *ngFor="let social of social$ | async">
                        <p class="text-white" *ngIf="social.type.toLowerCase() == 'address'">{{social.value}}</p>
                        <p class="text-white" *ngIf="social.type.toLowerCase() == 'google'">{{social.value}}</p>
                        <a class="text-orange" target="_blank" *ngIf="social.type.toLowerCase() == 'address'"
                            [href]="social.link"><i class="far fa-map pr-10"></i>
                            {{"footer.section3.findUs"|translate}}
                        </a>
                    </ng-container>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom" *ngIf="social$ | async as social" >
        <div class="container">
            <div class="row">
                <div class="co-lg-12 co-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="footer-social">
                        <ul class="list-inline d-flex justify-content-center">
                            <ng-container *ngFor="let sm of social">
                                <ng-container [ngSwitch]="sm.type.toLowerCase()">
                                <li *ngSwitchCase="'facebook'" class="mx-2"><a target="_blank" [href]="sm.link"
                                        [attr.data-tooltip]="'footer.section4.logo.face'|translate"> <i
                                            class="fab fa-facebook-f"></i> </a> </li>

                                <li *ngSwitchCase="'whatsapp'" class="mx-2"><a target="_blank" [href]="sm.link"
                                        [attr.data-tooltip]="'footer.section4.logo.whats'|translate"> <i
                                            class="fab fa-whatsapp"></i> </a> </li>

                                <li *ngSwitchCase="'google'" class="mx-2"><a target="_blank" [href]="'mailto:'+sm.value"
                                        [attr.data-tooltip]="'footer.section4.logo.google'|translate"> <i
                                            class="fab fa-google-plus"></i> </a> </li>

                                <li *ngSwitchCase="'instgram'" class="mx-2"><a target="_blank" [href]="sm.link"
                                        [attr.data-tooltip]="'footer.section4.logo.insta'|translate"> <i
                                            class="fab fa-instagram"></i> </a> </li>
                            </ng-container>
                        </ng-container>
                        </ul>
                    </div>
                    <p class="text-white mt-30">
                        &copy; {{"footer.section4.copyright.title"|translate}} {{currentYear}}
                        {{"footer.section4.copyright.desc"|translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>