<footer class="footer  bg-darkImg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center mt-60">
                <div class="footer-logo">
                    <img id="logo-footer" class="img-responive" src="../../../assets/images/logo/Logo_1651235830.png"
                        alt="">
                </div>
                <div class="col-lg-12">
                    <p class="text-white mb-60 w-75 m-auto">{{'footer.desc'|translate}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 my-2">
                <div class="newsletter">
                    <h4 class="text-white mb-30">{{"footer.section1.title"|translate}}</h4>
                    <p class="text-white">{{"footer.section1.desc"|translate}}</p>
                    <div class="newsletter-input">
                        <input type="email" placeholder="{{'footer.section1.input'|translate}}" name="email">
                        <i class="fa fa-envelope"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 my-2">
                <div class="opening-time">
                    <h4 class="text-white mb-30 text-center">{{"footer.section2.title"|translate}}</h4>
                    <ul>
                        <li class="d-flex justify-content-between">
                            <span>{{"footer.section2.days"|translate}}</span>
                            <span>{{"footer.section2.times"|translate}}</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>{{"footer.section2.subscriptions"|translate}}</span>
                            <span>{{"footer.section2.times"|translate}}</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>{{"footer.section2.suggestions"|translate}}</span>
                            <span>04-5973939</span>
                        </li>
                        <li>{{"footer.section2.holidays"|translate}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 my-2">
                <div class="contact">
                    <h4 class="text-white mb-30">{{"footer.section3.title"|translate}}</h4>
                    <p class="text-white">{{"footer.section3.desc"|translate}}</p>
                    <p class="text-white">info@Lowcalories.ae</p>
                    <a class="text-orange" target="_blank" href="https://goo.gl/maps/sKRWE3gFhBUfXsLR8?coh=178571&entry=tt"><i class="far fa-map pr-10"></i> 
                        {{"footer.section3.findUs"|translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="co-lg-12 co-md-12 col-sm-12 col-xs-12 text-center">
                    <div class="footer-social">
                        <ul class="list-inline d-flex justify-content-center">
                            <li class="mx-2"><a target="_blank"
                                    href="https://www.facebook.com/pages/category/Restaurant/Low-calories-209535336392037/"
                                    [attr.data-tooltip]="'footer.section4.logo.face'|translate"> <i class="fab fa-facebook-f"></i> </a>
                            </li>
                            <li class="mx-2"><a target="_blank" href="https://api.whatsapp.com/send?phone=971522089620"
                                    [attr.data-tooltip]="'footer.section4.logo.whats'|translate"> <i class="fab fa-whatsapp"></i> </a>
                            </li>
                            <li class="mx-2"><a target="_blank"
                                    href="https://www.google.com/search?safe=active&source=hp&ei=1njNX5ysAcWCar6hsJAO&iflsig=AINFCbYAAAAAX82G5mU1BuwOFuZHp-Z4wCw0V0r-kbyA&q=low+calories+restaurant+abu+dhabi&oq=low+calories+restaurant+&gs_lcp=CgZwc3ktYWIQAxgAMgIIADICCAAyBQgAEMkDMgIIADIICC4QxwEQrwEyCAguEMcBEK8BMggILhDHARCvATIICC4QxwEQrwEyCAguEMcBEK8BMggILhDHARCvAToOCC4QsQMQgwEQyQMQkwI6BQgAELEDOg4ILhCxAxCDARDHARCjAjoICAAQsQMQgwE6CAguELEDEIMBOgUILhCxAzoOCC4QxwEQowIQyQMQkwI6AgguOgQIABAKUP42WMFtYNx8aABwAHgAgAGHAYgBww-SAQQwLjE3mAEAoAEBqgEHZ3dzLXdpeg&sclient=psy-ab/"
                                    [attr.data-tooltip]="'footer.section4.logo.google'|translate"> <i class="fab fa-google-plus"></i> </a> </li>
                            <li class="mx-2"><a target="_blank" href="https://www.instagram.com/lowcaloriesae/"
                                    [attr.data-tooltip]="'footer.section4.logo.insta'|translate"> <i class="fab fa-instagram"></i> </a>
                            </li>
                        </ul>
                    </div>
                    <p class="text-white mt-30">
                        &copy; {{"footer.section4.copyright.title"|translate}} {{currentYear}} {{"footer.section4.copyright.desc"|translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>