
<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
        <div class="row text-center intro-title">
            <h1 class="text-orange">{{"pages.plans.showMeals"|translate}}</h1>
            <p class="text-white">{{"pages.plans.desc"|translate}}</p>
            <ul class="page-breadcrumb">
                <li><a routerLink=""><i class="fa fa-home"></i> {{"pages.home"|translate}}</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>{{"pages.plans.title"|translate}}</span></li>
            </ul>
        </div>
    </div>
</div>
<section class="bg-img-main my-5" *ngIf="ProgramMeals |async as programMeals">
    <div class="container">
        <div *ngIf="ProgramDetails | async as program">
            <h1 class="fa-rx">
                <span class="txt-main text-orange">
                    {{translate.currentLang == 'ar' ?program.name_ar:program.name}}
                </span>
            </h1>
            <!-- <p class="text-muted txt-font">
                {{translate.currentLang == 'ar' ?program.description_ar:program.description}}
            </p> -->
        </div>
        <div *ngIf="carouselVisible">
            <owl-carousel-o [options]="customOptions" ngClass="categories">
                <ng-container *ngFor="let meal of programMeals | keyvalue; let i = index">
                    <ng-template carouselSlide>
                        <div class="item bg-white px-5 rounded py-3 font-weight-500 text-center" *ngIf="meal"
                            [ngClass]="{'active': i == category_index}" (click)="toggleCategories($event,i,meal.key)">
                            {{translate.currentLang == 'ar' ? (meal.key | mealNameTranslate) : meal.key}}
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <div class="menu mx-2">
            <div class="row">
                <div class="col-lg-6 my-3" *ngFor="let meal of programMeals[category_key]">
                    <div class="item bg-white row px-2 flex-center rounded shadow-lg w-100 h-100 py-2">
                        <div class="col-3 d-flex">
                            <img [src]="meal.meal_image" alt="" class="img-fluid rounded menuImage"
                                style="width: 100px;height: 100px;">
                        </div>
                        <div class="col-9 d-flex justify-content-between flex-column">
                            <div class="content mt-xl-3 mt-md-0 mt-3">
                                <h6>
                                    {{translate.currentLang == 'ar' ?meal?.meal_name_ar:meal?.meal_name_en}}
                                </h6>
                                <!-- <p class="text-muted m-0" *ngIf="meal?.description">
                                    <i class="fas fa-info-circle txt-main"></i> {{translate.currentLang == 'ar' ?meal?.description_ar:meal?.description}}
                                </p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-end">
                <div class="text-center">
                    <a class="button mt-20 pointer py-1 px-5" (click)="getCheckout()">
                        <button class="btn w-100 border-0">{{"buttons.proceed"|translate}}
                                <ng-container *ngIf="nextButtonMode$ | async">
                                    <i class="fa-solid fa-circle-notch fa-spin p-0"></i>
                                </ng-container>
                        </button>
                    </a>
                </div>
        </div>
    </div>
</section>

