<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
        <div class="row text-center intro-title">
            <h1 class="text-orange">{{"pages.plans.showMeals"|translate}}</h1>
            <p class="text-white">{{"pages.plans.desc"|translate}}</p>
            <ul class="page-breadcrumb">
                <li><a routerLink=""><i class="fa fa-home"></i> {{"pages.home"|translate}}</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>{{"pages.plans.title"|translate}}</span></li>
            </ul>
        </div>
    </div>
</div>

<section class="bg-img-main my-5" *ngIf="ProgramMeals |async as programMeals">
    <div class="container">
        <div *ngIf="ProgramDetails | async as program">
            <h1 class="fa-rx">
                <span class="txt-main text-orange">
                    {{translate.currentLang == 'ar' ?program.name_ar:program.name}}
                </span>
            </h1>
            <!-- <p class="text-muted txt-font">
                {{translate.currentLang == 'ar' ?program.description_ar:program.description}}
            </p> -->
        </div>
        <div *ngIf="carouselVisible">
            <owl-carousel-o [options]="customOptions" ngClass="categories">
                <ng-container *ngFor="let meal of programMeals; let i = index">
                    <ng-template carouselSlide>
                        <div class="item bg-white px-5 rounded py-3 font-weight-500 text-center" *ngIf="meal"
                        [ngClass]="{'active': i == category_index}" (click)="toggleCategories($event,i)">
                        {{translate.currentLang == 'ar' ? (meal.day | weekdayTranslate ) : meal.day}} <br> {{meal?.date}}
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <div class="menu mx-2">
            <div class="row">
                <div class="col-lg-6 my-3" *ngFor="let meal of userMeals[category_index]?.meals; let i = index">
                    <div class="item bg-white row px-2 flex-center rounded shadow-lg w-100 h-100 py-2">
                        <div class="col-12 text-end">
                                <small class="text-orange mb-3">
                                    {{ translate.currentLang == 'ar' ?  (meal.mainDish.meal_type | mealNameTranslate) : meal.mainDish.meal_type}}
                                </small>
                        </div>
                        <div class="col-3 d-flex">
                            <img [src]="meal.mainDish.meal_name_image" alt="" class="img-fluid rounded menuImage"
                                style="width: 100px;height: 100px;">
                        </div>
                        <div class="col-9 d-flex justify-content-between flex-column">
                            <div class="content mt-xl-3 mt-md-0 mt-3 d-flex justify-content-between">
                                    <h6>
                                        {{translate.currentLang == 'ar' ?meal?.mainDish?.meal_name_ar:meal?.mainDish?.meal_name_en}}
                                    </h6>
                                <!-- <p class="text-muted m-0" *ngIf="meal?.description">
                                    <i class="fas fa-info-circle txt-main"></i> {{translate.currentLang == 'ar' ?meal?.description_ar:meal?.description}}
                                </p> -->
                                <button class="btn py-2 px-4 editBtn" (click)="openDetails(meal,i)">
                                    <i class="far fa-edit"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-end">
                <div class="text-center">
                    <a class="button mt-20 pointer py-1 px-5" (click)="getCheckout()">
                        <button class="btn w-100 border-0">{{"buttons.proceed"|translate}}
                                <ng-container *ngIf="nextButtonMode$ | async">
                                    <i class="fa-solid fa-circle-notch fa-spin p-0"></i>
                                </ng-container>
                        </button>
                    </a>
                </div>
        </div>
    </div>
</section>

<p-dialog [modal]="true" [draggable]="false" [resizable]="false" [(visible)]="mealDetailsModal"
    [transitionOptions]="'200ms'" [style]="{ width: '50vw' }">
    <div *ngIf="currentMeal">
        <div class="text-center">
            <img [src]="currentMeal.mainDish.meal_name_image" class="img-fluid mb-4" alt="" width="300px">
            <h5 class="text-orange" *ngIf="!currentMeal.sideDish">
                {{translate.currentLang == 'ar' ?currentMeal.mainDish.meal_name_ar:currentMeal.mainDish.meal_name_en}}
            </h5>
            <h5 *ngIf="currentMeal.sideDish">
                <span>{{ translate.currentLang == 'ar' ? currentMeal.mainDish.meal_name_ar : currentMeal.mainDish.meal_name_en }} & </span>
                <ng-container *ngFor="let item of currentMeal.sideDish; let lastItem = last">
                  {{ translate.currentLang == 'ar' ? item.meal_name_ar : item.meal_name_en }}
                  <span *ngIf="!lastItem"> & </span>
                </ng-container>
            </h5>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-sm-6 border-end my-3">
                <h6 class="txt-main mb-3 me-4">
                    {{translate.currentLang == 'ar' ?currentMeal.mainDish.meal_name_ar:currentMeal.mainDish.meal_name_en}}
                </h6>
                <div class="qty d-flex align-items-center justify-content-center disable-selection">
                    <span class="minus" (click)="changeMainDishNutrition(currentMeal,false)">-</span>
                    <input type="text" class="count" [value]="currentMeal.mainDish.qty" disabled readonly>
                    <span class="plus" (click)="changeMainDishNutrition(currentMeal,true)">+</span>
                    <span class="txt-main txt-font ms-2">
                        {{translate.currentLang == 'ar' ? (currentMeal.mainDish.unit | mealUnitTranslate):currentMeal.mainDish.unit}}
                    </span>
                </div>
            </div>
            <ng-container *ngIf="currentMeal.sideDish">
                <div class="col-sm-6 my-3" *ngFor="let item of currentMeal.sideDish; let i = index">
                    <h6 class="txt-main mb-3 me-4">
                        {{translate.currentLang == 'ar' ?item.meal_name_ar:item.meal_name_en}}
                    </h6>
                    <div class="qty d-flex align-items-center justify-content-center disable-selection">
                        <span class="minus" (click)="changeSideDishNutrition(currentMeal,false,i)">-</span>
                        <input type="text" class="count" [value]="item.qty" disabled readonly>
                        <span class="plus" (click)="changeSideDishNutrition(currentMeal,true,i)">+</span>
                        <span class="txt-main txt-font ms-2">
                            {{translate.currentLang == 'ar' ? (item.unit | mealUnitTranslate):item.unit}}
                        </span>
                    </div>
                </div>
            </ng-container>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3 col-6 my-2 postion-relative">
                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column" style="border-radius: 30%;">
                    <span
                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main f-size-xs top-0">{{"nutritions.calories"|translate}}</span>
                    <span *ngIf="!currentMeal.sideDish">{{(currentMeal.mainDish.calories).toFixed(2)}}</span>
                    <ng-container *ngIf="currentMeal.sideDish">
                        <span>
                            {{(currentMeal.sideDish | sum:'calories':currentMeal.mainDish.calories).toFixed(2)}}
                        </span>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-3 col-6 my-2 postion-relative">
                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column" style="border-radius: 30%;">
                    <span
                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main f-size-xs top-0">{{"nutritions.fat"|translate}}</span>
                    <span *ngIf="!currentMeal.sideDish">{{(currentMeal.mainDish.fat).toFixed(2)}}</span>
                        <ng-container *ngIf="currentMeal.sideDish">
                            <span>
                                {{(currentMeal.sideDish | sum:'fat':currentMeal.mainDish.fat).toFixed(2)}}
                            </span>
                        </ng-container>
                </div>
            </div>
            <div class="col-md-3 col-6 my-2 postion-relative">
                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column" style="border-radius: 30%;">
                    <span
                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main f-size-xs top-0">{{"nutritions.protein"|translate}}</span>
                    <span *ngIf="!currentMeal.sideDish">{{(currentMeal.mainDish.protein).toFixed(2)}}</span>
                        <ng-container *ngIf="currentMeal.sideDish">
                            <span>
                                {{(currentMeal.sideDish | sum:'protein':currentMeal.mainDish.protein).toFixed(2)}}
                            </span>
                        </ng-container>
                </div>
            </div>
            <div class="col-md-3 col-6 my-2 postion-relative">
                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column" style="border-radius: 30%;">
                    <span
                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main f-size-xs top-0">{{"nutritions.carb"|translate}}</span>
                    <span *ngIf="!currentMeal.sideDish">{{(currentMeal.mainDish.carb).toFixed(2)}}</span>
                        <ng-container *ngIf="currentMeal.sideDish">
                            <span>
                                {{(currentMeal.sideDish | sum:'carb':currentMeal.mainDish.carb).toFixed(2)}}
                            </span>
                        </ng-container>
                </div>
            </div>
        </div>
        <div class="mt-4 text-center">
            <button type="button" class="btn bg-dark rounded-pill text-white py-2 px-5 font-weight-600"
            (click)="mealDetailsModal=false;editMeal(currentMeal);">
                {{"buttons.edit"|translate}}
            </button>
        </div>
    </div>
</p-dialog>