<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
        <div class="row text-center intro-title">
            <h1 class="text-orange">{{"pages.plans.showMeals"|translate}}</h1>
            <p class="text-white">{{"pages.plans.desc"|translate}}</p>
            <ul class="page-breadcrumb">
                <li><a routerLink=""><i class="fa fa-home"></i> {{"pages.home"|translate}}</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>{{"pages.plans.title"|translate}}</span></li>
            </ul>
        </div>
    </div>
</div>

<section class="bg-img-main my-5" style="position: relative;" *ngIf="ProgramMeals |async as programMeals">
    <div class="container">
        <div *ngIf="ProgramDetails | async as program">
            <h1 class="fa-rx">
                <span class="txt-main text-orange">
                    {{translate.currentLang == 'ar' ?program.name_ar:program.name}}
                </span>
            </h1>
            <!-- <p class="text-muted txt-font">
                {{translate.currentLang == 'ar' ?program.description_ar:program.description}}
            </p> -->
        </div>
        <div *ngIf="carouselVisible">
            <owl-carousel-o [options]="customOptions" ngClass="categories">
                <ng-container *ngFor="let meal of programMeals; let i = index">
                    <ng-template carouselSlide>
                        <div class="item bg-white px-5 rounded py-3 font-weight-500 text-center" *ngIf="meal"
                        [ngClass]="{'active': i == category_index}" (click)="toggleCategories($event,i)">
                        {{translate.currentLang == 'ar' ? (meal.day | weekdayTranslate ) : meal.day}} <br> {{meal?.date}}
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <div class="menu mx-2">
            <div class="row">
                <div class="col-lg-6 my-3" *ngFor="let meal of userMeals[category_index]?.meals; let i = index">
                    <div class="item bg-white row px-2 flex-center rounded shadow-lg w-100 h-100 py-2">
                        <div class="col-3 d-flex">
                            <img [src]="meal.mainDish.meal_name_image" alt="" class="img-fluid rounded menuImage"
                                style="width: 100px;height: 100px;">
                        </div>
                        <div class="col-9 d-flex justify-content-between flex-column">
                            <div class="content mt-xl-3 mt-md-0 mt-3 d-flex justify-content-between">
                                <div>
                                    <h6>
                                        {{translate.currentLang == 'ar' ?meal?.mainDish?.meal_name_ar:meal?.mainDish?.meal_name}}
                                    </h6>
                                    <p class="text-muted m-0">
                                        <i class="fas fa-info-circle txt-main"></i>
                                        {{ meal.mainDish.meal_type | mealNameTranslate :translate.currentLang}}
                                    </p>
                                </div>
                                <button class="btn py-2 px-4 editBtn" (click)="openDetails(meal,i)">
                                    <i class="far fa-edit"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-end">
                <div class="text-center">
                    <a class="button mt-20 pointer py-1 px-5" (click)="getCheckout()">
                        <button class="btn w-100 border-0">{{"buttons.proceed"|translate}}
                                <ng-container *ngIf="nextButtonMode$ | async">
                                    <i class="fa-solid fa-circle-notch fa-spin p-0"></i>
                                </ng-container>
                        </button>
                    </a>
                </div>
        </div>
    </div>
    <div id="options_container" class="pointer" (click)="sidebarOptions = true">
         <i class="fas fa-cog txt-main"></i>
    </div>
    <p-sidebar [(visible)]="sidebarOptions" position="right">
        <h5>{{"pages.plans.sidebar.section1.title" | translate}}</h5>
        <div class="my-2">
            <div class="my-4">
                <h6 class="text-orange">{{"pages.plans.sidebar.section1.extraProtein" | translate}}</h6>
                <div class="qty d-flex align-items-center justify-content-center disable-selection">
                    <span class="minus" (click)="calcExtraGramOverAll(false)">-</span>
                    <input type="text" class="count" [value]="ExtraProteinOverAll" disabled readonly>
                    <span class="plus" (click)="calcExtraGramOverAll(true)">+</span>
                    <span class="txt-main txt-font ms-2">
                        {{"pages.plans.sidebar.section1.gm" | translate}}
                    </span>
                </div>
            </div>
    
            <div class="my-4">
                <h6 class="text-orange">{{"pages.plans.sidebar.section1.extraCarb" | translate}}</h6>
                <div class="qty d-flex align-items-center justify-content-center disable-selection">
                    <span class="minus"  (click)="calcExtraPieceOverAll(false)">-</span>
                    <input type="text" class="count" [value]="ExtraCarbOverAll" disabled readonly>
                    <span class="plus"  (click)="calcExtraPieceOverAll(true)">+</span>
                    <span class="txt-main txt-font ms-2">
                        {{"pages.plans.sidebar.section1.gm" | translate}}
                    </span>
                </div>
            </div>
        </div>
        <small>
            {{"pages.plans.sidebar.section1.warning" | translate}}
        </small>
        <hr>
        <h5>{{"pages.plans.sidebar.section2.title" | translate}}</h5>
        <div class="mt-3" *ngIf="price$ |async as price"> 
            <div class="d-flex justify-content-between my-1 font-weight-500">
                <span>{{"pages.checkout.giftcode.total" | translate}}</span> <span class="txt-main">
                    {{price.price.toFixed(2)}} 
                    <sub class="text-orange">{{"currency" | translate}}</sub></span>
            </div>
            <div class="d-flex justify-content-between my-1 font-weight-500">
                <span>{{"pages.checkout.giftcode.vat" | translate}}</span> <span class="txt-main">
                    {{price.vat*100}}%
                </span>
            </div>
            <div class="d-flex justify-content-between my-1 font-weight-500">
             <!-- *ngIf="price.extra_details.carb.total_price"> -->
                <span>{{"pages.checkout.giftcode.extra_carb" | translate}}</span> <span class="txt-main">
                    <span>{{price?.extra_details?.carb?.total_price || 0}}</span>
                     <sub class="text-orange">{{"currency" | translate}}</sub>
                </span>
            </div>
            <div class="d-flex justify-content-between my-1 font-weight-500">
                 <!-- *ngIf="price.extra_details.protein.total_price"> -->
                <span>{{"pages.checkout.giftcode.extra_protein" | translate}}</span> <span class="txt-main">
                    <span>{{price?.extra_details?.protein?.total_price || 0}}</span>
                     <sub class="text-orange">{{"currency" | translate}}</sub>
                </span>
            </div>
            <div class="d-flex justify-content-between mt-1 font-weight-500">
                <span>{{"pages.checkout.giftcode.grandTotal" | translate}}</span> 
                <span class="txt-main">
                        {{(price.grand_total+(price.extra_details | sumExtra)).toFixed(2)}}
                    <sub class="text-orange">{{"currency" | translate}}</sub>
                </span>
            </div>
        </div>
        <hr>
        <h5>{{"pages.plans.sidebar.section3.title" | translate}}</h5>
        <div class="mt-3" *ngFor="let meal of userMeals">
            <div *ngFor="let nutrition of meal | nutritionTotal">
                <small class="txt-main">{{ nutrition.date }} / {{ translate.currentLang == 'ar' ? (nutrition.day | weekdayTranslate ):nutrition.day }}</small> <br>
                <small><span class="mx-2">{{"pages.plans.sidebar.section3.totalProtein" | translate}}</span> <span>{{ nutrition.totalProtein.toFixed(2) }}</span></small> <br>
                <small><span class="mx-2">{{"pages.plans.sidebar.section3.totalCalories" | translate}} </span> <span>{{ nutrition.totalCalories.toFixed(2) }}</span></small> <br>
                <small><span class="mx-2">{{"pages.plans.sidebar.section3.totalCarb" | translate}}</span> <span>{{ nutrition.totalCarbs.toFixed(2) }}</span></small> <br>
                <small><span class="mx-2">{{"pages.plans.sidebar.section3.totalFat" | translate}}</span> <span>{{ nutrition.totalFat.toFixed(2) }}</span></small>
            </div>
            <hr>
        </div>
    </p-sidebar>
</section>

<p-dialog [modal]="true" [draggable]="false" [resizable]="false" [(visible)]="mealDetailsModal"
    [transitionOptions]="'200ms'" [style]="{ width: '50vw' }">
    <div *ngIf="currentMeal">
        <div class="text-center">
            <img [src]="currentMeal.mainDish.meal_name_image" class="img-fluid mb-4" alt="" width="300px">
            <h5 class="text-orange" *ngIf="!currentMeal.sideDish">
                {{translate.currentLang == 'ar' ?currentMeal.mainDish.meal_name_ar:currentMeal.mainDish.meal_name_en}}
            </h5>
            <h5 *ngIf="currentMeal.sideDish">
                <span>{{ translate.currentLang == 'ar' ? currentMeal.mainDish.meal_name_ar : currentMeal.mainDish.meal_name_en }} & </span>
                <ng-container *ngFor="let item of currentMeal.sideDish; let lastItem = last">
                  {{ translate.currentLang == 'ar' ? item.meal_name_ar : item.meal_name_en }}
                  <span *ngIf="!lastItem"> & </span>
                </ng-container>
            </h5>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-sm-6 border-end my-3">
                <h6 class="txt-main mb-3 me-4"*ngIf="currentMeal.mainDish.tag != 'cp'&& currentMeal.mainDish.tag != null">
                    {{translate.currentLang == 'ar' ?currentMeal.mainDish.meal_name_ar:currentMeal.mainDish.meal_name_en}}
                </h6>
                <div class="qty d-flex align-items-center justify-content-center disable-selection" *ngIf="currentMeal.mainDish.tag != 'cp'&& currentMeal.mainDish.tag != null">
                    <span class="minus" (click)="changeMainDishNutrition(currentMeal,false)" [class.disabled-bg]="!currentMeal.mainDish.tag">-</span>
                    <input type="text" class="count" [value]="currentMeal.mainDish.qty+currentMeal.mainDish.extra.carb+currentMeal.mainDish.extra.protein" disabled readonly>
                    <span class="plus" (click)="changeMainDishNutrition(currentMeal,true)" [class.disabled-bg]="!currentMeal.mainDish.tag">+</span>
                    <span class="txt-main txt-font ms-2">
                        {{translate.currentLang == 'ar' ? (currentMeal.mainDish.unit | mealUnitTranslate):currentMeal.mainDish.unit}}
                    </span>
                </div>
                <!-- <div *ngIf="currentMeal.mainDish.tag == 'cp'">
                    <div class="my-3">
                        <small class="text-orange">Extra Protien</small>
                        <div class="qty d-flex align-items-center justify-content-center disable-selection">
                            <span class="minus" (click)="calcExtra(currentMeal,false,'p')">-</span>
                            <input type="text" class="count" [value]="currentMeal.mainDish.extra.protein" disabled readonly>
                            <span class="plus" (click)="calcExtra(currentMeal,true,'p')">+</span>
                            <span class="txt-main txt-font ms-2">
                                {{translate.currentLang == 'ar' ? (currentMeal.mainDish.unit | mealUnitTranslate):currentMeal.mainDish.unit}}
                            </span>
                        </div>
                    </div>

                    <div class="my-3">
                        <small class="text-orange">Extra Carb</small>
                        <div class="qty d-flex align-items-center justify-content-center disable-selection">
                            <span class="minus" (click)="calcExtra(currentMeal,false,'c')">-</span>
                            <input type="text" class="count" [value]="currentMeal.mainDish.extra.carb" disabled readonly>
                            <span class="plus" (click)="calcExtra(currentMeal,true,'c')">+</span>
                            <span class="txt-main txt-font ms-2">
                                {{translate.currentLang == 'ar' ? (currentMeal.mainDish.unit | mealUnitTranslate):currentMeal.mainDish.unit}}
                            </span>
                        </div>
                    </div>
                </div> -->
            </div>
            <ng-container *ngIf="currentMeal.sideDish">
                <div class="col-sm-6 my-3" *ngFor="let item of currentMeal.sideDish; let i = index">
                    <h6 class="txt-main mb-3 me-4" *ngIf="item.tag != 'cp' && item.tag != null">
                        {{translate.currentLang == 'ar' ?item.meal_name_ar:item.meal_name_en}}
                    </h6>
                    <div class="qty d-flex align-items-center justify-content-center disable-selection" *ngIf="item.tag != 'cp' && item.tag != null">
                        <span class="minus" (click)="changeSideDishNutrition(currentMeal,false,i)" [class.disabled-bg]="!item.tag">-</span>
                        <input type="text" class="count" [value]="item.qty+item.extra.carb+item.extra.protein" disabled readonly>
                        <span class="plus" (click)="changeSideDishNutrition(currentMeal,true,i)" [class.disabled-bg]="!item.tag">+</span>
                        <span class="txt-main txt-font ms-2">
                            {{translate.currentLang == 'ar' ? (item.unit | mealUnitTranslate):item.unit}}
                        </span>
                    </div>
                    <!-- <div *ngIf="item.tag == 'cp'">
                       <div class="my-3">
                        <small class="text-orange">Extra Protien</small>
                        <div  class="qty d-flex align-items-center justify-content-center disable-selection">
                            <span class="minus" (click)="calcExtra2(currentMeal,false,'p',i)">-</span>
                            <input type="text" class="count" [value]="item?.extra?.protein" disabled readonly>
                            <span class="plus" (click)="calcExtra2(currentMeal,true,'p',i)">+</span>
                            <span class="txt-main txt-font ms-2">
                                {{translate.currentLang == 'ar' ? (item.unit | mealUnitTranslate):item.unit}}
                            </span>
                        </div>
                       </div>
                       <div class="my-3">
                        <small class="text-orange">Extra Carb</small>
                        <div  class="qty d-flex align-items-center justify-content-center disable-selection">
                            <span class="minus" (click)="calcExtra2(currentMeal,false,'c',i)">-</span>
                            <input type="text" class="count" [value]="item?.extra?.carb" disabled readonly>
                            <span class="plus" (click)="calcExtra2(currentMeal,true,'c',i)">+</span>
                            <span class="txt-main txt-font ms-2">
                                {{translate.currentLang == 'ar' ? (item.unit | mealUnitTranslate):item.unit}}
                            </span>
                        </div>
                       </div>
                    </div> -->
                </div>
            </ng-container>
        </div>
        <!-- <div class="text-center">
            <small class="text-orange">{{"pages.plans.warning"|translate}}</small>
        </div> -->
        <hr>
        <div class="row">
            <div class="col-md-3 col-6 my-2 postion-relative">
                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column" style="border-radius: 30%;">
                    <span
                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main f-size-xs top-0">{{"nutritions.calories"|translate}}</span>
                    <span *ngIf="!currentMeal.sideDish">{{(currentMeal.mainDish.calories).toFixed(2)}}</span>
                    <ng-container *ngIf="currentMeal.sideDish">
                        <span>
                            {{(currentMeal.sideDish | sum:'calories':currentMeal.mainDish.calories).toFixed(2)}}
                        </span>
                    </ng-container>
                </div>
            </div>
            <div class="col-md-3 col-6 my-2 postion-relative">
                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column" style="border-radius: 30%;">
                    <span
                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main f-size-xs top-0">{{"nutritions.fat"|translate}}</span>
                    <span *ngIf="!currentMeal.sideDish">{{(currentMeal.mainDish.fat).toFixed(2)}}</span>
                        <ng-container *ngIf="currentMeal.sideDish">
                            <span>
                                {{(currentMeal.sideDish | sum:'fat':currentMeal.mainDish.fat).toFixed(2)}}
                            </span>
                        </ng-container>
                </div>
            </div>
            <div class="col-md-3 col-6 my-2 postion-relative">
                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column" style="border-radius: 30%;">
                    <span
                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main f-size-xs top-0">{{"nutritions.protein"|translate}}</span>
                    <span *ngIf="!currentMeal.sideDish">{{(currentMeal.mainDish.protein).toFixed(2)}}</span>
                        <ng-container *ngIf="currentMeal.sideDish">
                            <span>
                                {{(currentMeal.sideDish | sum:'protein':currentMeal.mainDish.protein).toFixed(2)}}
                            </span>
                        </ng-container>
                </div>
            </div>
            <div class="col-md-3 col-6 my-2 postion-relative">
                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column" style="border-radius: 30%;">
                    <span
                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main f-size-xs top-0">{{"nutritions.carb"|translate}}</span>
                    <span *ngIf="!currentMeal.sideDish">{{(currentMeal.mainDish.carb).toFixed(2)}}</span>
                        <ng-container *ngIf="currentMeal.sideDish">
                            <span>
                                {{(currentMeal.sideDish | sum:'carb':currentMeal.mainDish.carb).toFixed(2)}}
                            </span>
                        </ng-container>
                </div>
            </div>
        </div>
        <div class="mt-4 text-center">
            <button type="button" class="btn bg-dark rounded-pill text-white py-2 px-5 font-weight-600"
            (click)="mealDetailsModal=false;editMeal(currentMeal);">
                {{"buttons.edit"|translate}}
            </button>
        </div>
    </div>
</p-dialog>

<p-toast position="top-left" [showTransformOptions]="'translateY(-100%)'" [showTransitionOptions]="'300ms'"
    [hideTransitionOptions]="'300ms'" [showTransformOptions]="'translateX(-100%)'"></p-toast>