:host{
    ::ng-deep .p-dropdown, ::ng-deep .p-inputtext{
        border: 0 !important;
        border-bottom: 1px solid black !important;
        border-radius: 0 !important;
    }

    ::ng-deep .p-dropdown .p-inputtext{
        border: 0 !important;
    }

    ::ng-deep .p-float-label > label{
        left: 50%;
        transform: translateX(-50%);
    }

    ::ng-deep .p-calendar .p-inputtext {
        text-align: center;
    }

    ::ng-deep{
        .p-dropdown-label{
            justify-content: center;
        }
    }
}

.icon-controller{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    z-index: 99;
    color: #19a44b;
    left: 5px;
    padding: 0px 20px;
    width: 20px;
}
