<section class="bg-img-main mb-5 pt-5">
    <div class="container pt-5">
        <div class="row mt-5">
            <div class="col-12">
                <div class="content rounded-lg p-4 pb-3 shadow-lg bg-white" style="height: 600px;overflow: auto;"
                    *ngIf="!toggleCalendar">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="txt-main mb-3">{{"buttons.details" | translate}}</h4>
                        <h6 class="txt-main pointer m-0" routerLink="../../controls/2">
                            <i class="fas fa-backward txt-main pointer mx-2"></i>
                            <span>{{"buttons.back" | translate}}</span>
                        </h6>
                    </div>
                    <app-calendar [plan]="plan" [weeks]="weeks" *ngIf="currentTap == 1 && planStatus"
                        (getDetails)="getDetails($event)" (DayDetails)="getDayDetails($event)"></app-calendar>
                    <app-weeks *ngIf="currentTap == 2 && !planStatus" [plan]="plan" [weeks]="weeks"></app-weeks>
                </div>

                <div class="content rounded-lg p-5 pb-3 shadow-lg bg-white" *ngIf="toggleCalendar"
                    style="height: 600px;overflow: auto;">

                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <h4 class="txt-main my-3">
                            {{translate.currentLang == 'ar' ? (DayDetails[0].dayName | weekdayTranslate):DayDetails[0].dayName}},{{DayDetails[0].deliveryDate | date}}
                        </h4>
                        <button (click)="toggleCalendar = false"
                            class="btn bg-main px-5 py-2 text-white">{{"buttons.back" | translate}}</button>
                    </div>

                    <!-- [ngClass]="{ 'pending': profileMeals[i]&&profileMeals[i].request_status == 'pending'}" -->
                    <div class="rounded-md p-3 pb-3 my-3 shadow-lg bg-white"
                     *ngFor="let meal of DayDetails;let i = index">
                        <div class="d-flex justify-content-between flex-wrap">
                            <div class="d-flex justify-content-center align-items-center">
                                <h5 class="meal_name mx-4">{{meal?.mealName}}</h5>
                                <div *ngIf="profileMeals[i]?.meal_replacements?.length && meal.deliveryStatus != 1">
                                    <button class="btn py-2 px-4 editBtn"
                                        (click)="getReplacementMeals(i)">
                                        <i class="far fa-edit p-0"></i>
                                    </button>
                                </div>
                            </div>
                            <img class="img-fluid" style=" height: 70px;" *ngIf="profileMeals[i]" [src]="profileMeals[i].image" alt="">
                        </div>
                        <small class="txt-main"><b><i>{{meal.typeName}}</i></b></small>
                        <div class="row">
                            <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative"
                                *ngFor="let nutrition of meal.nutritions">
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'CALORIES'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutritions.calories" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{round(nutrition?.value)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'FAT'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutritions.fat" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{round(nutrition?.value)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'PROTIN'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutritions.protein" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{round(nutrition?.value)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'CARB'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutritions.carb" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{round(nutrition?.value)}}</span>
                                </div>
                            </div>
                        </div>
                        <small class="text-danger" *ngIf="profileMeals[i]&&profileMeals[i].request_status == 'pending'">
                            {{"profile_replace_meals_warning"|translate}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<p-sidebar [(visible)]="replacementModal" position="left" [dismissible]="false">
    <ng-template pTemplate="header"><h6 class="m-3">{{"pages.plans.replacement_sidebar.title" | translate}}</h6></ng-template>
    <ng-template pTemplate="content">
        <div class="row" #replaced_items>
            <div class="col-12 my-2" *ngFor="let replaced_item of profileMeals[replacement_index].meal_replacements ; let i = index">
                <div class="replaced_item item bg-white row px-2 flex-center rounded shadow-lg" (click)="toggleItems(i,replaced_item)" *ngIf="!replaced_item.is_native">
                    <div class="content mt-xl-3 mt-md-0 mt-3">
                            <div class="text-center">
                                <img [src]="replaced_item.meal_image" alt=""
                                    class="img-fluid rounded menuImage"
                                    style="width: 100px;height: 100px;object-fit: contain;">
                                <div>
                                    <div class="d-flex justify-content-center align-items-center mb-3">
                                        <!-- <p class="text-muted m-0">
                                            <i class="fas fa-info-circle txt-main"></i>
                                            {{ replaced_item.mainDish.meal_type | mealNameTranslate :translate.currentLang}}
                                        </p> -->
                                    </div>
                                    <!-- <h6 class="text-orange">
                                        {{translate.currentLang == 'ar'? replaced_item.mainDish.meal_name_ar:replaced_item.mainDish.meal_name_en}}
                                        {{replaced_item.mainDish.qty + replaced_item.mainDish.extra.protein + replaced_item.mainDish.extra.carb}}
                                        {{translate.currentLang == 'ar' ? (replaced_item.mainDish.unit | mealUnitTranslate):replaced_item.mainDish.unit}}
                                    </h6>
                                    <h6 class="text-orange" *ngIf="replaced_item.sideDish">
                                        <span *ngFor="let sideDish of replaced_item.sideDish">
                                            {{translate.currentLang == 'ar' ?sideDish.meal_name_ar:sideDish.meal_name_en}}
                                            {{sideDish.qty + sideDish.extra.protein + sideDish.extra.carb}}
                                            {{translate.currentLang == 'ar' ? (sideDish.unit | mealUnitTranslate):sideDish.unit}}
                                            <br>
                                        </span>
                                    </h6> -->

                                    <!-- <h6 class="text-orange">
                                        {{replaced_item.meal_name}}
                                    </h6> -->
                                    <h6 class="text-orange">
                                        {{getMealNameWithGrams(replaced_item)}}
                                    </h6>
                                    
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xl-3 col-lg-6 px-1 col-6 my-2 postion-relative">
                                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                        style="border-radius: 30%;">
                                        <span
                                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 py-1 font-main f-size-xs top-0">{{"nutritions.calories"|translate}}</span>
                                        <span
                                            *ngIf="!replaced_item.sideDish">{{round((replaced_item.mainDish.calories))}}</span>
                                        <ng-container *ngIf="replaced_item.sideDish">
                                            <span>
                                                {{round((replaced_item.sideDish |
                                                sum:'calories':replaced_item.mainDish.calories))}}
                                            </span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 px-1 col-6 my-2 postion-relative">
                                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                        style="border-radius: 30%;">
                                        <span
                                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 py-1 font-main f-size-xs top-0">{{"nutritions.fat"|translate}}</span>
                                        <span
                                            *ngIf="!replaced_item.sideDish">{{round((replaced_item.mainDish.fat))}}</span>
                                        <ng-container *ngIf="replaced_item.sideDish">
                                            <span>
                                                {{round((replaced_item.sideDish |
                                                sum:'fat':replaced_item.mainDish.fat))}}
                                            </span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 px-1 col-6 my-2 postion-relative">
                                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                        style="border-radius: 30%;">
                                        <span
                                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 py-1 font-main f-size-xs top-0">{{"nutritions.protein"|translate}}</span>
                                        <span
                                            *ngIf="!replaced_item.sideDish">{{round((replaced_item.mainDish.protein))}}</span>
                                        <ng-container *ngIf="replaced_item.sideDish">
                                            <span>
                                                {{round((replaced_item.sideDish |
                                                sum:'protein':replaced_item.mainDish.protein))}}
                                            </span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-6 px-1 col-6 my-2 postion-relative">
                                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                        style="border-radius: 30%;">
                                        <span
                                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 py-1 font-main f-size-xs top-0">{{"nutritions.carb"|translate}}</span>
                                        <span
                                            *ngIf="!replaced_item.sideDish">{{round((replaced_item.mainDish.carb))}}</span>
                                        <ng-container *ngIf="replaced_item.sideDish">
                                            <span>
                                                {{round((replaced_item.sideDish |
                                                sum:'carb':replaced_item.mainDish.carb))}}
                                            </span>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button class="btn summary-toggle-btn mb-3 w-100" (click)="replace(current_replaced_item)">
            {{"buttons.confirm" | translate}}
        </button>
    </ng-template>
</p-sidebar>