.categories .weeks, .categories .calendar{
    width: 130px;
    text-align: center;
    padding: 13px 35px;
    border-radius: 8px;
}

.categories .active{
    background-color: #19a44b !important;
    color: #fff !important;
}

#profile-img{
    position: absolute;
    top: 60px;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translateX(-50%);
}

#edit-img{
    position: absolute;
    top: 125px;
    left: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: translateX(-50%);
}

.list ul{
    list-style: none;
    text-align: start;
    padding: 0;
}

.list ul li span{
    cursor: pointer;
}

.list ul li.active{
    background-color: #19a44b;
    color: #fff;
}

@media all and (max-width:767px){
    #profile-img{
        top: 140px !important;
    }
    #edit-img{
        top: 205px !important;
    }
}



@media all and (max-width:500px){
    #profile-img{
        top: 80px !important;
    }
    
    #edit-img{
        top: 145px !important;
    }
}

@media all and (max-width:991.5px) and (min-width:767px){
    #profile-img{
        top: 140px !important;
    }
    
    #edit-img{
        top: 200px !important;
    }
}

@media all and (max-width:330px){
    #profile-img{
        width: 90px;
        top: 50px !important;
        height: 90px;
    }
    
    #edit-img{
        height: 40px;
        top: 113px !important;
        width: 40px;
    }
}

.btn:hover {
    color: #19a44b !important; 
    background-color: #141a1f !important;
    border-color: #141a1f !important;
}

.replaced_item{
    transition: all .5s ease-in-out;
    position: relative;
    cursor: pointer;
}
.replaced_item:hover{
    transform: scale(1.03);
}
.replaced_item .content.active:after{
    content: '\f058';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 20px;
    right:20px;
    color: #19a44b;
}
.editBtn {
    background-color: #fff;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #19a44b;
    color: #19a44b;
    width: 50px;
    transition: all .5s;
}
.summary-toggle-btn {
    background-color: #19a44b;
    color: #fff;
}
:host {
    ::ng-deep .p-sidebar-left{
        width: 29rem;
      }
}

.pending{position: relative;}
.pending::after{
    content: "PENDING";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(230, 230, 230, 0.503) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
}