<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
        <div class="row text-center intro-title">
            <h1 class="text-orange">{{"pages.menu.title"|translate}}</h1>
            <p class="text-white">{{"pages.menu.desc"|translate}}</p>
            <ul class="page-breadcrumb">
                <li><a routerLink=""><i class="fa fa-home"></i> {{"pages.home"|translate}}</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>{{"pages.menu.title"|translate}}</span></li>
            </ul>
        </div>
    </div>
</div>

<section class="mt-5" *ngIf="skeletonMode$ | async">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <p-skeleton height="3rem" width="100%" styleClass="mb-3"></p-skeleton>
            </div>
            <div class="col-md-3">
                <p-skeleton height="3rem" width="100%" styleClass="mb-3"></p-skeleton>
            </div>
            <div class="col-md-3">
                <p-skeleton height="3rem" width="100%" styleClass="mb-3"></p-skeleton>
            </div>
            <div class="col-md-3">
                <p-skeleton height="3rem" width="100%" styleClass="mb-3"></p-skeleton>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="menu-body menu-left menu-white">
                    <div class="menu-thumbnail">
                        <p-skeleton shape="circle" size="5rem"></p-skeleton>
                    </div>
                    <div class="menu-details">
                        <div class="menu-title clearfix">
                            <div class="row">
                                <div class="col-9">
                                    <p-skeleton height="2rem" width="50%" styleClass="mb-3"></p-skeleton>
                                </div>
                                <div class="col-3">
                                    <p-skeleton height="2rem" width="100%" styleClass="mb-3"></p-skeleton>
                                </div>
                            </div>
                        </div>
                        <div class="menu-description">
                            <p-skeleton styleClass="mb-2"></p-skeleton>
                        </div>
                        <small class="text-muted">
                            <p-skeleton styleClass="mb-2" width="75%"></p-skeleton>
                        </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="menu-body menu-left menu-white">
                    <div class="menu-thumbnail">
                        <p-skeleton shape="circle" size="5rem"></p-skeleton>
                    </div>
                    <div class="menu-details">
                        <div class="menu-title clearfix">
                            <div class="row">
                                <div class="col-9">
                                    <p-skeleton height="2rem" width="50%" styleClass="mb-3"></p-skeleton>
                                </div>
                                <div class="col-3">
                                    <p-skeleton height="2rem" width="100%" styleClass="mb-3"></p-skeleton>
                                </div>
                            </div>
                        </div>
                        <div class="menu-description">
                            <p-skeleton styleClass="mb-2"></p-skeleton>
                        </div>
                        <small class="text-muted">
                            <p-skeleton styleClass="mb-2" width="75%"></p-skeleton>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="our-menu white-bg pt-5">
    <div class="container" *ngIf="carouselVisible">
        <owl-carousel-o [options]="categoryOptions" ngClass="categories" *ngIf="menu$ |async as menu">
            <ng-container *ngFor="let category of menu; let i = index">
                <ng-template carouselSlide>
                    <div class="item bg-white px-5 rounded py-3 font-weight-500"
                        [ngClass]="{'active': i == category_index}" (click)="toggleCategories($event, i)">
                        <i [classList]="category.icon + ' fa-solid mx-1'"></i> 
                        {{translate.currentLang == 'ar' ? category?.category_name_ar :category?.category_name}}
                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
        <div class="row mt-5" *ngIf="menu$ |async as menu">
            <div class="col-lg-6" *ngFor="let item of menu[category_index].meals">
                <div class="menu-body menu-left menu-white">
                    <div class="menu-thumbnail">
                        <img class="img-responsive center-block" [src]="item.meal_image" alt="{{translate.currentLang == 'ar' ? item?.meal_name_ar :item?.meal_name_en}}">
                    </div>
                    <div class="menu-details">
                        <div class="menu-title clearfix">
                            <h4>{{translate.currentLang == 'ar' ? item?.meal_name_ar :item?.meal_name_en}}</h4>
                            <span class="price" *ngIf="!item.meal_price.toString().includes('=>')">
                                {{item.meal_price}} <sub>{{"currency"|translate}}</sub>
                            </span>
                            <ul class="price text-end" style="font-size: small;line-height: normal;" *ngIf="item.meal_price.toString().includes('=>')">
                                <ol *ngFor="let meal of parseAndCalculatePrices(item.meal_price.toString())">
                                    <div *ngIf="translate.currentLang == 'ar'">
                                        <span class="mx-1">{{meal.gmQuantity}}</span>
                                        <span class="mx-1">{{meal.gmUnit | mealUnitTranslate}}</span>
                                        <span class="mx-1"><i class="fas fa-angle-double-left"></i></span>
                                        <span *ngIf="meal.pcsQuantity != undefined">
                                            <span class="mx-1">{{meal.pcsQuantity }}</span>
                                            <span class="mx-1">{{meal.pcsUnit | mealUnitTranslate}}</span>
                                            <span class="mx-1"><i class="fas fa-angle-double-left"></i></span>
                                        </span>
                                        <span class="mx-1">{{meal?.price}}</span>
                                        <span class="mx-1">{{"currency"|translate}}</span>
                                    </div>
                                    <div *ngIf="translate.currentLang != 'ar'">
                                        <span class="mx-1">{{meal.gmQuantity}}</span>
                                        <span class="mx-1">{{meal.gmUnit}}</span>
                                        <span class="mx-1"><i class="fas fa-angle-double-right"></i></span>
                                        <span *ngIf="meal.pcsQuantity != undefined">
                                            <span class="mx-1">{{meal.pcsQuantity }}</span>
                                            <span class="mx-1">{{meal.pcsUnit}}</span>
                                            <span class="mx-1"><i class="fas fa-angle-double-right"></i></span>
                                        </span>
                                        <span class="mx-1">{{meal?.price}}</span>
                                        <span class="mx-1">{{"currency"|translate}}</span>
                                    </div>
                                </ol>
                            </ul>
                        </div>
                        <div class="menu-description">
                            <p>{{translate.currentLang == 'ar' ? item?.description_ar :item?.description}}</p>
                        </div>
                        <div class="row" style="font-size: 10px;">
                            <div class="col-md-3 col-6 my-2 postion-relative">
                                <div class="content rounded-circle shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                                    <span class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main f-size-xs top-0">{{"nutritions.calories"|translate}}</span>
                                    <small class="text-muted">{{(item.meal_calories).toFixed(2)}}</small>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 my-2 postion-relative">
                                <div class="content rounded-circle shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main f-size-xs top-0">{{"nutritions.fat"|translate}}</span>
                                    <small class="text-muted">{{(item.meal_fat).toFixed(2)}}</small>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 my-2 postion-relative">
                                <div class="content rounded-circle shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main f-size-xs top-0">{{"nutritions.protein"|translate}}</span>
                                    <small class="text-muted">{{(item.meal_protein).toFixed(2)}}</small>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 my-2 postion-relative">
                                <div class="content rounded-circle shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main f-size-xs top-0">{{"nutritions.carb"|translate}}</span>
                                    <small class="text-muted">{{(item.meal_carb).toFixed(2)}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<section class="our-menu white-bg pt-5 special-menu">
    <div class="container">
        <div class="row mt-5" *ngIf="menu$ |async as menu">
            <div class="col-lg-6" *ngFor="let item of menu">
                <div class="menu-body menu-left menu-white">
                    <div class="menu-thumbnail">
                        <img class="img-responsive center-block" [src]="item.image" alt="{{translate.currentLang == 'ar' ? item?.item_ar :item?.item}}">
                    </div>
                    <div class="menu-details">
                        <div class="menu-title clearfix">
                            <h4>{{translate.currentLang == 'ar' ? item?.item_ar :item?.item}}</h4>
                            <!-- <span class="price">
                                {{item.price}} <sub>{{"currency"|translate}}</sub>
                            </span> -->
                        </div>
                        <div class="menu-description">
                            <p>{{translate.currentLang == 'ar' ? item?.description_ar :item?.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>