<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
        <div class="row text-center intro-title">
            <h1 class="text-orange">{{"pages.clinic.title"| translate}}</h1>
            <p class="text-white">{{"pages.clinic.desc"| translate}}</p>
            <ul class="page-breadcrumb">
                <li><a routerLink="../../home"><i class="fa fa-home"></i> {{"pages.home"| translate}}</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>{{"pages.clinic.title"| translate}}</span></li>
            </ul>
        </div>
    </div>
</div>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="stepper-wrapper my-5 pb-3" #indicators>
                    <div class="progress" #progressElm></div>
                    <div class="screen-indicator completed step1">1</div>
                    <div class="screen-indicator step2">2</div>
                </div>
                <app-step1 *ngIf="currIndex == 1" [formSubmitted2]="Step1Form" (formSubmitted)="onChildFormSubmit($event)"></app-step1>
                <app-step2 *ngIf="currIndex == 2" [Step1Form]="Step1Form" (goBack)="onReturn()"></app-step2>
            </div>
        </div>
    </div>
</section>