.Branches{
    .item{
        height: 90px;
        img{
            width: 30px;
        }
    }
}

.btn:hover {
    color: #19a44b !important; 
    background-color: #141a1f !important;
    border-color: #141a1f !important;
}