<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
        <div class="row text-center intro-title">
            <h1 class="text-orange">{{"pages.contacts.title"|translate}}</h1>
            <p class="text-white">{{"pages.contacts.desc"|translate}}</p>
            <ul class="page-breadcrumb">
                <li><a routerLink=""><i class="fa fa-home"></i> {{"pages.home"|translate}}</a> <i
                        class="fa fa-angle-double-right"></i></li>
                <li><span>{{"pages.contacts.title"|translate}}</span></li>
            </ul>
        </div>
    </div>
</div>

<section class="contact white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let social of social$ | async">
                <ng-container [ngSwitch]="social.type.toLowerCase()">
                    <div class="col-lg-3 col-md-6 col-sm-6" *ngSwitchCase="'address'">
                        <div class="contact-box text-center">
                            <i class="fa-solid fa-location-dot"></i>
                            <h5>{{"pages.contacts.form.address.title"|translate}}</h5>
                            <p>
                                <a class="text-reset" target="_blank"
                                    [href]="social.link">
                                    {{social.value}}
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6" *ngSwitchCase="'phone'">
                        <div class="contact-box text-center">
                            <i class="fa fa-phone"></i>
                            <h5>{{"pages.contacts.form.phone"|translate}}</h5>
                            <p>
                                <a class="text-reset" target="_blank" [href]="'tel:'+ social.value">
                                    {{social.value}}
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6" *ngSwitchCase="'google'">
                        <div class="contact-box text-center">
                            <i class="fa-regular fa-envelope"></i>
                            <h5>{{"pages.contacts.form.email"|translate}}</h5>
                            <p>
                                <a class="text-reset" target="_blank" [href]="'mailto:'+ social.value">
                                    {{social.value}}
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6" *ngSwitchCase="'whatsapp'">
                        <div class="contact-box text-center">
                            <i class="fa-brands fa-whatsapp"></i>
                            <h5>{{"pages.contacts.form.whats"|translate}}</h5>
                            <p>
                                <a class="text-reset" [href]="social.link"
                                    target="_blank">
                                    {{social.link.split("phone=")[1]}}
                                </a>
                            </p>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <div class="row mt-30">
            <div class="col-lg-12">
                <div id="formmessage">Success/Error Message Goes Here</div>
                <form class="form-horizontal" id="contactform" [formGroup]='EmailForm' (ngSubmit)='onSubmit(EmailForm)'>
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-field">
                                    <i class="fa fa-user"></i>
                                    <input id="name" type="text" placeholder='{{"pages.contacts.form.name"|translate}}'
                                        class="placeholder" name="name" formControlName="name">
                                    <div class="text-start">
                                        <small class="text-danger ms-1"
                                            *ngIf="EmailForm.get('name')?.touched &&
                                        EmailForm.get('name')?.hasError('required')">{{"validations.required"|translate}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-field">
                                    <i class="fa-solid fa-paperclip"></i>
                                    <input type="text" placeholder='{{"pages.contacts.form.subject"|translate}}'
                                        class="placeholder" name="subject" formControlName="subject">
                                    <div class="text-start">
                                        <small class="text-danger ms-1"
                                            *ngIf="EmailForm.get('subject')?.touched &&
                                    EmailForm.get('subject')?.hasError('required')">{{"validations.required"|translate}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-field">
                                    <i class="fa fa-envelope"></i>
                                    <input type="email" placeholder='{{"pages.contacts.form.email"|translate}}'
                                        class="placeholder" name="email" formControlName="email">
                                    <div class="text-start">
                                        <small class="text-danger ms-1"
                                            *ngIf="EmailForm.get('email')?.touched &&
                                    EmailForm.get('email')?.hasError('required')">{{"validations.required"|translate}}</small>
                                    </div>
                                    <div class="text-start">
                                        <small class="text-danger ms-1"
                                            *ngIf="EmailForm.get('email')?.touched &&
                                    EmailForm.get('email')?.hasError('email')">{{"validations.email"|translate}}</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="form-field">
                                    <i class="fa fa-phone"></i>
                                    <input type="text" placeholder='{{"pages.contacts.form.phone"|translate}}'
                                        class="placeholder" name="mobile" formControlName="mobile">
                                    <div class="text-start">
                                        <small class="text-danger ms-1"
                                            *ngIf="EmailForm.get('mobile')?.touched &&
                                    EmailForm.get('mobile')?.hasError('required')">{{"validations.required"|translate}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-field">
                                    <i class="fa fa-pencil"></i>
                                    <textarea class="input-message placeholder"
                                        placeholder='{{"pages.contacts.form.message"|translate}}' rows="7"
                                        formControlName="message" name="message"></textarea>
                                    <small class="text-danger ms-1"
                                        *ngIf="EmailForm.get('message')?.touched &&
                                        EmailForm.get('message')?.hasError('required')">{{"validations.required"|translate}}</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-submit mt-10 text-center">
                            <input type="hidden" name="action" value="sendEmail" />
                            <button id="submit" name="Submit" type="submit" value="Send" class="button">
                                {{"buttons.send"|translate}}
                                <ng-container *ngIf="sendMailBtnStatus">
                                    <i class="fa-solid fa-circle-notch fa-spin p-0"></i>
                                </ng-container>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<section class="contact-map">
    <div class="container-fluid">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3576.7837266047204!2d50.1751117!3d26.3011103!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e49e7902d450757%3A0x9c1e0cc1fb0f9238!2sLow%20Calories!5e0!3m2!1sen!2seg!4v1695647382409!5m2!1sen!2seg"
            width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <br>
    <br>
</section>