.bg-orange{
    background-color: rgb(233, 62, 33) !important;
}
.plan-format{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#section3 {
    img{
        width: 300px;
        margin-top: 20px;
    }
}