.login-block {
    width: 100%;
    padding: 50px 0;
}

.card-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 10px rgba(0, 0, 0, 0.15), -15px -20px 10px rgba(0, 0, 0, 0.15);
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

.banner-sec {
    // background: url(../../../assets/images/login/istockphoto-1093904158-612x612.jpg) no-repeat left bottom;
    background: url(../../../assets/images/login/bg-login.png) no-repeat left bottom;
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

.text-caption {
    text-align: left;
    left: 5%;
    position: absolute;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}

.banner-text h2 {
    color: #fff;
    font-weight: 600;
}

.banner-text p {
    color: #fff;
}

#login_section .header {
    position: relative;
}

#login_section .header h2 {
    font-size: 50px;
    padding-bottom: 15px;
    font-weight: 700;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #19a44b;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #6c9d7e;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}

#login_section .body .form-group {
    position: relative;
}

#login_section .body .form-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 13px;
    margin-left: 5px;
}

#login_section .body .form-group input {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    color: #fff;
    border-color: rgba(0, 0, 0, 0.1);
    color: #afafaf;
}

#login_section button {
    background: #19a44b;
    color: #fff;
    border: none !important;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 3px;
    padding: 10px 50px;
}

#login_section button::after {
    content: "";
    background: #1e2327;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    border: 0.25rem solid #1e2327 !important;
    display: block;
    transition: all 0.35s;
}

button.slide_from_bottom::after {
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
}

#login_section button:hover {
    color: #fff;
}

#login_section button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}

#login_section button::after {
    content: "";
    background: #1e2327;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    border: 0.25rem solid #1e2327 !important;
    display: block;
    transition: all 0.35s;
}

.href {
    text-decoration: none;
    color: #19a44b;
    font-size: 14px;
}