.content .question{
    transition: all .5s;
}
.content .question:hover{
    color: #fff;
    background-color: #19a44b !important;
}
.content .user .bubble{
    font-size: 16px;
    position: relative;
    display: inline-block;
    clear: both;
    margin:4px 15px 0px 15px;
    padding: 6px 14px;
    vertical-align: top;
    background-color: #19a44b !important;
    border-radius: 5px;
    color: #fff;
}

.content .user .bubble:before{
    position: absolute;
    top: 8px;
    display: block;
    width: 20px;
    height: 20px;
    content: '\00a0';
    transform: rotate(29deg) skew(-35deg);
    right: -3px;
    border-radius: 3px;
    background-color: #19a44b;
}

.btn:hover {
    color: #19a44b !important; 
    background-color: #141a1f !important;
    border-color: #141a1f !important;
}