<!-- <div class="shadow-lg bg-white rounded-md mt-2 mb-4 Weeks_Container d-flex flex-wrap" style="width: fit-content;">
    <span class="name px-4 py-2 pointer" #week (click)="toggleWeeks(week);currentWeek = (i+1)"
        *ngFor="let item of planWeeks;let i = index">
        <span class="pb-2" [class.active]="i == 0">{{"calendar.weeks.week"+(i+1) | translate}}</span>
    </span>
</div>

<ng-container *ngIf="currentWeek == 1">
    <div *ngIf="planWeeks?.[0];else other_content">
        <div *ngFor="let week of planWeeks?.[0]">
            <h4 class="txt-main mb-3">{{week?.dayname}}</h4>
            <div class="rounded-md p-3 pb-3 my-3 shadow-lg bg-white" *ngFor="let item of week.meals">
                <h5 class="meal_name">{{item?.mealName}}</h5>
                <div class="row">
                    <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                        <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                            <span
                                class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                style="top: 0;font-size:12px ;">{{"nutrition.calories" | translate}}</span>
                            <span class="font-weight-600 txt-font">{{item?.calories}}</span>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                        <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                            <span
                                class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                style="top: 0;font-size:12px ;">{{"nutrition.fat" | translate}}</span>
                            <span class="font-weight-600 txt-font">{{item?.fats}}</span>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                        <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                            <span
                                class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                style="top: 0;font-size:12px ;">{{"nutrition.protein" | translate}}</span>
                            <span class="font-weight-600 txt-font">{{item?.protiens}}</span>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                        <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                            <span
                                class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                style="top: 0;font-size:12px ;">{{"nutrition.carb" | translate}}</span>
                            <span class="font-weight-600 txt-font">{{item?.carb}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #other_content>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
    </ng-template>
</ng-container>

<ng-container *ngIf="currentWeek == 2">
    <div *ngFor="let week of planWeeks?.[1]">
        <h4 class="txt-main mb-3">{{week?.dayname}}</h4>
        <div class="rounded-md p-3 pb-3 my-3 shadow-lg bg-white" *ngFor="let item of week.meals">
            <h5 class="meal_name">{{item?.mealName}}</h5>
            <div class="row">
                <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                        <span
                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                            style="top: 0;font-size:12px ;">{{"nutrition.calories" | translate}}</span>
                        <span class="font-weight-600 txt-font">{{item?.calories}}</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                        <span
                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                            style="top: 0;font-size:12px ;">{{"nutrition.fat" | translate}}</span>
                        <span class="font-weight-600 txt-font">{{item?.fats}}</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                        <span
                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                            style="top: 0;font-size:12px ;">{{"nutrition.protein" | translate}}</span>
                        <span class="font-weight-600 txt-font">{{item?.protiens}}</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                        <span
                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                            style="top: 0;font-size:12px ;">{{"nutrition.carb" | translate}}</span>
                        <span class="font-weight-600 txt-font">{{item?.carb}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="currentWeek == 3">
    <div *ngFor="let week of planWeeks?.[2]">
        <h4 class="txt-main mb-3">{{week?.dayname}}</h4>
        <div class="rounded-md p-3 pb-3 my-3 shadow-lg bg-white" *ngFor="let item of week.meals">
            <h5 class="meal_name">{{item?.mealName}}</h5>
            <div class="row">
                <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                        <span
                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                            style="top: 0;font-size:12px ;">{{"nutrition.calories" | translate}}</span>
                        <span class="font-weight-600 txt-font">{{item?.calories}}</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                        <span
                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                            style="top: 0;font-size:12px ;">{{"nutrition.fat" | translate}}</span>
                        <span class="font-weight-600 txt-font">{{item?.fats}}</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                        <span
                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                            style="top: 0;font-size:12px ;">{{"nutrition.protein" | translate}}</span>
                        <span class="font-weight-600 txt-font">{{item?.protiens}}</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                        <span
                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                            style="top: 0;font-size:12px ;">{{"nutrition.carb" | translate}}</span>
                        <span class="font-weight-600 txt-font">{{item?.carb}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="currentWeek == 4">
    <div *ngFor="let week of planWeeks?.[3]">
        <h4 class="txt-main mb-3">{{week?.dayname}}</h4>
        <div class="rounded-md p-3 pb-3 my-3 shadow-lg bg-white" *ngFor="let item of week.meals">
            <h5 class="meal_name">{{item?.mealName}}</h5>
            <div class="row">
                <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                        <span
                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                            style="top: 0;font-size:12px ;">{{"nutrition.calories" | translate}}</span>
                        <span class="font-weight-600 txt-font">{{item?.calories}}</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                        <span
                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                            style="top: 0;font-size:12px ;">{{"nutrition.fat" | translate}}</span>
                        <span class="font-weight-600 txt-font">{{item?.fats}}</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                        <span
                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                            style="top: 0;font-size:12px ;">{{"nutrition.protein" | translate}}</span>
                        <span class="font-weight-600 txt-font">{{item?.protiens}}</span>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative">
                    <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column">
                        <span
                            class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                            style="top: 0;font-size:12px ;">{{"nutrition.carb" | translate}}</span>
                        <span class="font-weight-600 txt-font">{{item?.carb}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container> -->



<!-- =================================================================================== -->


<div class="shadow-lg bg-white rounded-md mt-2 mb-4 Weeks_Container d-flex flex-wrap" style="width: fit-content;">
    <span class="name px-4 py-2 pointer" #weekElement (click)="toggleWeeks(weekElement);currentWeek = (i+1)"
        *ngFor="let week of weeksCount;let i = index">
        <span class="pb-2" [class.active]="i == 0">
            {{week.weekName}}
        </span>
    </span>
</div>
<ng-container *ngIf="currentWeek == 1">
    <div *ngIf="weeks.length > 0;else other_content">
        <div *ngFor="let week of weeks">
            <ng-container *ngIf="week[0].weekName.slice(week[0].weekName.lastIndexOf(' ') + 1) == '1'">
                <h4 class="txt-main mb-3">{{week[0]?.dayName}}</h4>
            </ng-container>
            <div *ngFor="let day of week">
                <ng-container *ngIf="day.weekName.slice(day.weekName.lastIndexOf(' ') + 1) == '1'">
                    <div class="rounded-md p-3 pb-3 my-3 shadow-lg bg-white">
                        <h5 class="meal_name mb-0">{{day.mealName}}</h5>
                        <small class="txt-main"><b><i>{{day.typeName}}</i></b></small>
                        <div class="row">
                            <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative"
                                *ngFor="let nutrition of day.nutritions">
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'CALORIES'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.calories" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'FAT'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.fat" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'PROTIN'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.protein" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'CARB'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.carb" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <ng-template #other_content>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
    </ng-template>
</ng-container>

<ng-container *ngIf="currentWeek == 2">
    <div *ngIf="weeks.length > 0;else other_content">
        <div *ngFor="let week of weeks">
            <ng-container *ngIf="week[0].weekName.slice(week[0].weekName.lastIndexOf(' ') + 1) == '2'">
                <h4 class="txt-main mb-3">{{week[0]?.dayName}}</h4>
            </ng-container>
            <div *ngFor="let day of week">
                <ng-container *ngIf="day.weekName.slice(day.weekName.lastIndexOf(' ') + 1) == '2'">
                    <div class="rounded-md p-3 pb-3 my-3 shadow-lg bg-white">
                        <h5 class="meal_name mb-0">{{day.mealName}}</h5>
                        <small class="txt-main"><b><i>{{day.typeName}}</i></b></small>
                        <div class="row">
                            <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative"
                                *ngFor="let nutrition of day.nutritions">
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'CALORIES'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.calories" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'FAT'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.fat" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'PROTIN'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.protein" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'CARB'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.carb" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <ng-template #other_content>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
    </ng-template>
</ng-container>

<ng-container *ngIf="currentWeek == 3">
    <div *ngIf="weeks.length > 0;else other_content">
        <div *ngFor="let week of weeks">
            <ng-container *ngIf="week[0].weekName.slice(week[0].weekName.lastIndexOf(' ') + 1) == '3'">
                <h4 class="txt-main mb-3">{{week[0]?.dayName}}</h4>
            </ng-container>
            <div *ngFor="let day of week">
                <ng-container *ngIf="day.weekName.slice(day.weekName.lastIndexOf(' ') + 1) == '3'">
                    <div class="rounded-md p-3 pb-3 my-3 shadow-lg bg-white">
                        <h5 class="meal_name mb-0">{{day.mealName}}</h5>
                        <small class="txt-main"><b><i>{{day.typeName}}</i></b></small>
                        <div class="row">
                            <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative"
                                *ngFor="let nutrition of day.nutritions">
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'CALORIES'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.calories" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'FAT'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.fat" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'PROTIN'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.protein" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'CARB'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.carb" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <ng-template #other_content>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
    </ng-template>
</ng-container>

<ng-container *ngIf="currentWeek == 4">
    <div *ngIf="weeks.length > 0;else other_content">
        <div *ngFor="let week of weeks">
            <ng-container *ngIf="week[0].weekName.slice(week[0].weekName.lastIndexOf(' ') + 1) == '4'">
                <h4 class="txt-main mb-4">{{week[0]?.dayName}}</h4>
            </ng-container>
            <div *ngFor="let day of week">
                <ng-container *ngIf="day.weekName.slice(day.weekName.lastIndexOf(' ') + 1) == '4'">
                    <div class="roun4ed-md p-3 pb-3 my-3 shadow-lg bg-white">
                        <h5 class="meal_name mb-0">{{day.mealName}}</h5>
                        <small class="txt-main"><b><i>{{day.typeName}}</i></b></small>
                        <div class="row">
                            <div class="col-xl-2 col-lg-4 col-sm-6 my-2 postion-relative"
                                *ngFor="let nutrition of day.nutritions">
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'CALORIES'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.calories" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'FAT'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.fat" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'PROTIN'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.protein" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                                <div class="content shadow-lg rounded-lg text-center pb-3 d-flex flex-column"
                                    *ngIf="nutrition.nutrationName == 'CARB'">
                                    <span
                                        class="text-white bg-main postion-absolute rounded-lg mb-2 font-weight-500 px-4 py-1 font-main"
                                        style="top: 0;font-size:12px ;">{{"nutrition.carb" | translate}}</span>
                                    <span class="font-weight-600 txt-font">{{nutrition?.value.toFixed(2)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <ng-template #other_content>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
        <p-skeleton width="100%" height="10rem" styleClass="m-3"></p-skeleton>
    </ng-template>
</ng-container>