<header id="header" class="header">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="topbar-left text-left">
            <ul>
              <ng-container *ngFor="let social of social$ | async">
                <li *ngIf="social.type.toLowerCase() == 'phone'" class="mx-1" dir="ltr">
                  <i class="fa fa-phone"></i> <a class="m-1" [href]="'tel:'+social.value">{{social.value}} </a>
                </li>
                <li *ngIf="social.type.toLowerCase() == 'google'" class="mx-1" dir="ltr">
                  <i class="fa fa-envelope"></i> <a class="m-1" [href]="'mailto:'+social.value">{{social.value}} </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="topbar-right text-end">
            <ul>
              <ng-container *ngFor="let social of social$ | async">
                <li *ngIf="social.type.toLowerCase() == 'facebook'" class="mx-1"><a
                    [href]="social.link"
                    target="_blank"><i class="fab fa-facebook"></i> </a></li>
                <li *ngIf="social.type.toLowerCase() == 'whatsapp'" class="mx-1"><a [href]="social.link" target="_blank"><i
                      class="fab fa-whatsapp"></i> </a></li>
                <li *ngIf="social.type.toLowerCase() == 'instgram'" class="mx-1"><a [href]="social.link" target="_blank"><i
                      class="fab fa-instagram"></i>
                  </a></li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mega menu -->
  <div class="menu">
    <!-- menu start -->
    <nav id="menu-1" class="mega-menu ">
      <!-- menu list items container -->
      <section class="menu-list-items">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <nav class="navbar navbar-expand-lg bg-white">
                <div class="w-100 d-flex justify-content-center align-items-center">
                  <!-- menu logo -->
                  <ul class="menu-logo">
                    <li class="head-info">
                      <a href="index.html"><img id="logo_img" src="../../../assets/images/logo/Logo_1651235830.png"
                          alt="logo"> </a>
                      <div class="head-info-content d-flex">
                        <div class="info-left pull-left">
                          <div class="time">
                            <h6>{{"logoMetaData.workingHours.title" | translate}}</h6>
                            <p>{{"logoMetaData.workingHours.times" | translate}}</p>
                            <p>{{"logoMetaData.workingHours.desc" | translate}}</p>
                          </div>
                          <div class="time mt-20">
                            <h6>{{"logoMetaData.suggestions.title" | translate}}</h6>
                            <p>
                              {{"logoMetaData.suggestions.desc" | translate}}
                            </p>
                          </div>
                        </div>
                        <div class="info-right pull-right" >
                          <div class="address">
                            <ng-container *ngFor="let social of social$ | async">
                              <p *ngIf="social.type.toLowerCase() == 'address'">{{social.value}}</p>
                              <p *ngIf="social.type.toLowerCase() == 'phone'">{{social.value}}</p>
                              <p *ngIf="social.type.toLowerCase() == 'google'">{{social.value}}</p>
                              <a *ngIf="social.type.toLowerCase() == 'address'" target="_blank" [href]="social.link"><i
                                  class="fa fa-map-o pr-10"></i> {{"logoMetaData.location.findUs" | translate}}</a>
                            </ng-container>
                            <ul class="list-inline mt-15 d-flex">
                                <ng-container *ngFor="let social of social$ | async">
                                <li *ngIf="social.type.toLowerCase() == 'facebook'" class="mx-2"><a target="_blank"
                                    [href]="social.link"
                                    data-tooltip="facebook"> <i class="fa fa-facebook-f"></i> </a>
                                </li>
                                <li *ngIf="social.type.toLowerCase() == 'whatsapp'" class="mx-2"><a target="_blank"
                                    [href]="social.link" data-tooltip="whatsapp"> <i
                                      class="fa fa-whatsapp"></i> </a>
                                </li>
                                <li *ngIf="social.type.toLowerCase() == 'address'" class="mx-2"><a target="_blank"
                                    [href]="social.link"
                                    data-tooltip="google-plus"> <i class="fa fa-google-plus"></i> </a> </li>
                               
                                    <li *ngIf="social.type.toLowerCase() == 'instgram'" class="mx-2">
                                      <a target="_blank" [href]="social.link"
                                    data-tooltip="instagram"> <i class="fa fa-instagram"></i> </a>
                                </li>
                                </ng-container>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="menu-links ms-auto" style="cursor: pointer;">
                      <li routerLink="home" routerLinkActive="active"><a> {{"pages.home"|translate}} </a></li>
                      <li routerLink="plans" routerLinkActive="active"><a> {{"pages.plans.title"|translate}} </a></li>
                      <li routerLink="menu" routerLinkActive="active"><a> {{"pages.menu.title"|translate}} </a></li>
                      <li routerLink="contacts" routerLinkActive="active"><a>{{"pages.contacts.title"|translate}} </a></li>
                      <li routerLink="terms" routerLinkActive="active"><a> {{"pages.terms.title1"|translate}} </a></li>
                      <!-- <li routerLink="clinic" routerLinkActive="active"><a>{{"pages.clinic.title"|translate}} </a></li> -->
                      <!-- <li routerLink="questions" routerLinkActive="active"><a>FAQ </a></li> -->
                      <li routerLink="register" routerLinkActive="active"><a>{{"pages.register.title"|translate}}</a></li>
                      <ng-container *ngIf="login$ | async as login">
                        <li routerLink="login" routerLinkActive="active" *ngIf="login.data == null"><a>{{"pages.login.title"|translate}}</a></li>
                        <li (click)="logOut()" *ngIf="login.data != null">
                          <a>
                            {{"pages.logout"|translate}}
                            <span *ngIf="login.loading">...</span>
                          </a>
                        </li>
                      </ng-container>
                      <li (click)="changeLang()"><a>{{"lang" | translate}}</a></li>
                    </ul>
                  </div>

                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    style="border: 1px solid #e93e21;" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"
                      style="font-family:'Font Awesome 6 Free';font-weight: 900;color: #e93e21;"></i>
                  </button>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </section>
    </nav>
    <!-- menu end -->
  </div>
</header>