<header id="header" class="header">
  <div class="topbar">
    <div class="container">
      <div class="row" *ngIf="social$ | async; else noSocial">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="topbar-left text-left">
            <ul>
              <ng-container *ngFor="let social of social$ | async">
                <li *ngIf="social.type.toLowerCase() == 'phone'" class="mx-1" dir="ltr">
                  <i class="fa fa-phone"></i> <a class="m-1" [href]="'tel:'+social.value">{{social.value}} </a>
                </li>
                <li *ngIf="social.type.toLowerCase() == 'google'" class="mx-1" dir="ltr">
                  <i class="fa fa-envelope"></i> <a class="m-1" [href]="'mailto:'+social.value">{{social.value}} </a>
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="topbar-right text-end">
            <ul>
              <ng-container *ngFor="let social of social$ | async">
                <li *ngIf="social.type.toLowerCase() == 'facebook'" class="mx-1"><a [href]="social.link"
                    target="_blank"><i class="fab fa-facebook"></i> </a></li>
                <li *ngIf="social.type.toLowerCase() == 'whatsapp'" class="mx-1"><a [href]="social.link"
                    target="_blank"><i class="fab fa-whatsapp"></i> </a></li>
                <li *ngIf="social.type.toLowerCase() == 'instgram'" class="mx-1"><a [href]="social.link"
                    target="_blank"><i class="fab fa-instagram"></i>
                  </a></li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
      <ng-template #noSocial>
        .
      </ng-template>
    </div>
  </div>
  <!-- mega menu -->
  <div class="menu">
    <!-- menu start -->
    <nav id="menu-1" class="mega-menu ">
      <!-- menu list items container -->
      <section class="menu-list-items">
        <div class="container-fluid px-5">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <nav class="navbar navbar-expand-lg bg-white">
                <div class="w-100 d-flex justify-content-center align-items-center">
                  <!-- menu logo -->
                  <ul class="menu-logo">
                    <li class="head-info">
                      <a href="index.html"><img id="logo_img" src="../../../assets/images/logo/Logo_1651235830.png"
                          alt="logo"> </a>
                      <div class="head-info-content d-flex">
                        <div class="info-left pull-left">
                          <div class="time">
                            <h6>{{"logoMetaData.workingHours.title" | translate}}</h6>
                            <p>{{"logoMetaData.workingHours.times" | translate}}</p>
                            <p>{{"logoMetaData.workingHours.desc" | translate}}</p>
                          </div>
                          <div class="time mt-20">
                            <h6>{{"logoMetaData.suggestions.title" | translate}}</h6>
                            <p>
                              {{"logoMetaData.suggestions.desc" | translate}}
                            </p>
                          </div>
                        </div>
                        <div class="info-right pull-right">
                          <div class="address">
                            <ng-container *ngFor="let social of social$ | async">
                              <p *ngIf="social.type.toLowerCase() == 'address'">{{social.value}}</p>
                              <p *ngIf="social.type.toLowerCase() == 'phone'">{{social.value}}</p>
                              <p *ngIf="social.type.toLowerCase() == 'google'">{{social.value}}</p>
                              <a *ngIf="social.type.toLowerCase() == 'address'" target="_blank" [href]="social.link"><i
                                  class="fa fa-map-o pr-10"></i> {{"logoMetaData.location.findUs" | translate}}</a>
                            </ng-container>
                            <ul class="list-inline mt-15 d-flex">
                              <ng-container *ngFor="let social of social$ | async">
                                <li *ngIf="social.type.toLowerCase() == 'facebook'" class="mx-2"><a target="_blank"
                                    [href]="social.link" data-tooltip="facebook"> <i class="fa fa-facebook-f"></i> </a>
                                </li>
                                <li *ngIf="social.type.toLowerCase() == 'whatsapp'" class="mx-2"><a target="_blank"
                                    [href]="social.link" data-tooltip="whatsapp"> <i class="fa fa-whatsapp"></i> </a>
                                </li>
                                <li *ngIf="social.type.toLowerCase() == 'address'" class="mx-2"><a target="_blank"
                                    [href]="social.link" data-tooltip="google-plus"> <i class="fa fa-google-plus"></i>
                                  </a> </li>

                                <li *ngIf="social.type.toLowerCase() == 'instgram'" class="mx-2">
                                  <a target="_blank" [href]="social.link" data-tooltip="instagram"> <i
                                      class="fa fa-instagram"></i> </a>
                                </li>
                              </ng-container>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ng-container *ngIf="login$ | async as login">
                      <ul class="menu-links ms-auto" style="cursor: pointer;">
                        <li routerLink="home" routerLinkActive="active"><a> {{"pages.home"|translate}} </a></li>
                        <li routerLink="plans" routerLinkActive="active"><a> {{"pages.plans.title"|translate}} </a></li>
                        <li routerLink="menu" routerLinkActive="active"><a> {{"pages.menu.title"|translate}} </a></li>
                        <li routerLink="contacts" routerLinkActive="active"><a>{{"pages.contacts.title"|translate}} </a>
                        </li>
                        <li routerLink="terms" routerLinkActive="active"><a> {{"pages.terms.title1"|translate}} </a>
                        </li>
                        <li routerLink="register" routerLinkActive="active" *ngIf="login.data == null">
                          <a>{{"pages.register.title"|translate}}</a>
                        </li>
                        <li routerLink="login" routerLinkActive="active" *ngIf="login.data == null">
                          <a>{{"pages.login.title"|translate}}</a>
                        </li>
                        <li (click)="logOut()" *ngIf="login.data != null">
                          <a>
                            {{"pages.logout"|translate}}
                            <span *ngIf="login.loading">...</span>
                          </a>
                        </li>

                        <li (click)="changeLang()"><a>{{"lang" | translate}}</a></li>
                      </ul>
                      <div class="dropdown dropstart" *ngIf="login.data">
                        <button class="btn dropdown-toggle txt-main d-flex align-items-center" type="button"
                          id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          <img [src]="login.data.image" style="width: 40px;height: 40px;order: 2;"
                            class="img-fluid rounded-circle" alt="">
                          <span class="text-muted ms-2 me-1 txt-font-bold" style="order: 1">{{login.data.name}}</span>
                        </button>
                        <ul class="dropdown-menu p-0 border-0 rounded-md shadow-lg text-start"
                          aria-labelledby="dropdownMenuButton1">
                          <div style="border-top-right-radius: 10px;border-top-left-radius: 10px;"
                            class="menu-header d-flex align-items-center py-3 bg-main rounded-md flex-wrap text-start">
                            <img [src]="login.data.image" style="height:90px;" class="ms-4 img-fluid rounded-circle" alt="">
                            <div class="text-white ms-4">
                              <h5 class="username">{{login.data.name}}</h5>
                              <span class="useremail">{{login.data.email}}</span>
                            </div>
                          </div>
                          <div class="menu-body bg-white rounded-md" style="border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;">
                            <ul class="txt-font-bold ps-0 profileList" style="list-style: none;">
                              <li class="p-3 pointer" #PersonalInfo routerLink="./profile/controls/1">
                                <img src="../../../../../assets/images/profile/person_green.png"
                                  class="img-fluid me-3 pointer" style="width: 18px;" alt="">
                                <span>{{'pages.navbar.personalInformation' | translate}}</span>
                              </li>
                              <li class="p-3 pointer" #Plans routerLink="./profile/controls/2">
                                <img src="../../../../../assets/images/profile/plans_green.png" class="img-fluid me-3 "
                                  style="width: 18px;" alt=""> <span>{{'pages.navbar.myPlans' |
                                  translate}}</span>
                              </li>
                              <li class="p-3 pointer" #Addresses routerLink="./profile/controls/3">
                                <img src="../../../../../assets/images/profile/location_green.png" class="img-fluid me-3 "
                                  style="width: 18px;" alt="">
                                <span>{{'pages.navbar.myAddresses' | translate}}</span>
                              </li>
                              <li class="p-3 pointer" #ChangePassword routerLink="./profile/controls/4">
                                <img src="../../../../../assets/images/profile/lock_green.png" class="img-fluid me-3 "
                                  style="width: 18px;" alt="">
                                <span>{{'pages.navbar.changePassword' | translate}}</span>
                              </li>
                              <li class="p-3 pointer" #Menu routerLink="./menu">
                                <img src="../../../../../assets/images/profile/menu_green.png"  class="img-fluid me-3 "
                                  style="width: 18px;" alt=""> <span>{{'pages.navbar.menu' |
                                  translate}}</span>
                              </li>
                              <li class="p-3 pointer" #Chat routerLink="./profile/controls/6">
                                <img src="../../../../../assets/images/profile/chat_green.png" class="img-fluid me-3 "
                                  style="width: 18px;" alt=""> <span>{{'pages.navbar.chatWithUs'
                                  | translate}}</span>
                              </li>
                              <li class="p-3 pointer" #Ask routerLink="./profile/controls/7">
                                <img src="../../../../../assets/images/profile/ask_green.png"  class="img-fluid me-3 "
                                  style="width: 18px;" alt=""> <span>{{'pages.navbar.askUs' |
                                  translate}}</span>
                              </li>
                              <li class="p-3 pointer" #Settings routerLink="./profile/controls/8">
                                <img src="../../../../../assets/images/profile/setting_green.png"  class="img-fluid me-3 "
                                  style="width: 18px;" alt=""> <span>{{'pages.navbar.settings' |
                                  translate}}</span>
                              </li>
                              <li class="p-3 pointer" (click)="logOut()">
                                <img src="../../../../../assets/images/profile/power_green.png" class="img-fluid me-3 "
                                  style="width: 18px;" alt="">
                                <span>
                                  {{'pages.navbar.logout' | translate}}
                                </span>
                              </li>
                            </ul>
                          </div>
                          <div class="over-flow-shadow"></div>
                        </ul>
                      </div>
                    </ng-container>
                  </div>

                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    style="border: 1px solid #19a44b;" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"
                      style="font-family:'Font Awesome 6 Free';font-weight: 900;color: #19a44b;"></i>
                  </button>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </section>
    </nav>
    <!-- menu end -->
  </div>
</header>