
@media all and (max-width:992px) {
    .plans{
        justify-content: center;
    }
}

.plans{
    // transition: $transitionTime;
}

.plans:hover{
    // background-color: $gray-light3 !important;
}

.btn:hover {
    color: #19a44b !important; 
    background-color: #141a1f !important;
    border-color: #141a1f !important;
}