html[lang="ar"] {
    @font-face {
        font-family: "Cairo";
        src: url("../ar-font/Cairo-VariableFont_wght.ttf");
        font-weight: normal;
        font-style: normal;
    }
    // fonts
    body {
        font-family: 'Cairo' !important;
    }

    .header-font {
        font-family: 'Cairo' !important;
    }

    .txt-font {
        font-family: 'Cairo' !important;
    }

    .txt-font-bold {
        font-family: 'Cairo' !important;
    }

    .txt-font-Black {
        font-family: 'Cairo' !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Cairo' !important;
    }

    // bootstrap classes
    .position-left {
        right: 0;
        left: auto;
    }

    .position-right {
        left: 0;
        right: auto;
    }

    .text-start {
        text-align: right !important;
    }

    .text-end {
        text-align: left !important;
    }

    .ms-auto{
        margin-right: auto !important;
        margin-left: 0px !important;
    }

    .me-auto{
        margin-left: auto !important;
        margin-right: 0px !important;
    }

    .ms-5 {
        margin-left: auto;
        margin-right: 3rem !important;
    }

    .ms-4 {
        margin-left: auto;
        margin-right: 1.5rem !important;
    }

    .ms-3 {
        margin-left: auto;
        margin-right: 1rem !important;
    }

    .ms-2 {
        margin-left: auto;
        margin-right: 0.5rem !important;
    }

    .ms-1 {
        margin-left: auto;
        margin-right: 0.25rem !important;
    }

    .ms-0 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .me-5 {
        margin-right: auto;
        margin-left: 3rem !important;
    }

    .me-4 {
        margin-right: auto;
        margin-left: 1.5rem !important;
    }

    .me-3 {
        margin-right: auto;
        margin-left: 1rem !important;
    }

    .me-2 {
        margin-right: auto;
        margin-left: 0.5rem !important;
    }

    .me-1 {
        margin-right: auto;
        margin-left: 0.25rem !important;
    }

    .me-0 {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .ps-5 {
        padding-left: auto;
        padding-right: 3rem !important;
    }

    .ps-4 {
        padding-left: auto;
        padding-right: 1.5rem !important;
    }

    .ps-3 {
        padding-left: auto;
        padding-right: 1rem !important;
    }

    .ps-2 {
        padding-left: auto;
        padding-right: 0.5rem !important;
    }

    .ps-1 {
        padding-left: auto;
        padding-right: 0.25rem !important;
    }

    .ps-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .pe-5 {
        padding-right: auto;
        padding-left: 3rem !important;
    }

    .pe-4 {
        padding-right: auto;
        padding-left: 1.5rem !important;
    }

    .pe-3 {
        padding-right: auto;
        padding-left: 1rem !important;
    }

    .pe-2 {
        padding-right: auto;
        padding-left: 0.5rem !important;
    }

    .pe-1 {
        padding-right: auto;
        padding-left: 0.25rem !important;
    }

    .pe-0 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .border-end {
        border-left: 1px solid #dee2e6 !important;
        border-right: none !important;
    }

    .border-start {
        border-right: 1px solid #dee2e6 !important;
        border-left: none !important;
    }

    @media (min-width: 992px){
        .offset-lg-1 {
            margin-left:0 !important;
            margin-right: 8.33333333% !important;
        }
    }

    // ******************************************* navbar *******************************************

    .mega-menu .menu-links {
        display: flex !important;
    }


    .mega-menu .menu-logo > li > a{
        width: 100% !important;
        img{
            float: right !important;
        }
    }

    @media all and (max-width:1200px) {
        .mega-menu .menu-links {
            font-size: 14px;
        }
    }

    @media all and (max-width:992px) {
        .mega-menu .menu-links {
            display: block !important;
        }
    }

    // *********** logo metadata *******
    .mega-menu * {
        text-align: right !important;
    }
    .head-info-content {
        background:url('../images/home/download2.png') no-repeat;
    }

    // *********** Clinic *******
    // stepper
    .screen-indicator.step1::after {
        content: 'الخطوة الأولي' !important;
    }

    .screen-indicator.step2::after {
        content: 'الخطوة الثانيه' !important;
    }

    // ******************************* checkout *******************************
    #checkout_subscriptionInfo_deliveryDays{
        padding-right: 38px !important;
    }

    // *******************************Contacts*******************************
    .contact-form .form-field i{
        right: 0;
    }
    .contact-form .form-field input, .contact-form .form-field textarea{
        padding-right: 40px;
    }


    // navbar
    .bg-img-main {
        background-position: right center;
    }

    .dropdown-menu[data-bs-popper] {
        left: 100%;
        right: auto;
    }

    .dropstart .dropdown-toggle::before {
        margin-left: 0.255em;
        border-left: 0.3em solid;

        margin-right: none;
        border-right: none;
    }

    // calendar
    .p-calendar-w-btn .p-inputtext {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .p-calendar-w-btn .p-datepicker-trigger {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .p-datepicker-prev {
        order: 1;
    }

    .p-datepicker-next {
        order: -1;
    }



    // prime ng 
    .p-float-label>label {
        right: 0.75rem;
        left: auto;
    }

    #SubscribtionModal .delivery-day::after {
        left: 12px;
        right: auto;
    }

    // calendar
    .restricted .subDay .status:after {
        content: 'مقيد' !important;
        right: 23px;
        left: auto !important;
        font-family: 'Cairo' !important;
        white-space: nowrap;
    }

    .preparing .subDay .status:after {
        content: 'يتم التحضير' !important;
        right: 24px;
        left: auto !important;
        font-family: 'Cairo' !important;
        white-space: nowrap;
    }

    .off .subDay .status:after {
        content: 'متوقف' !important;
        right: 24px;
        left: auto !important;
        font-family: 'Cairo' !important;
        white-space: nowrap;
    }

    .hold .subDay .status:after {
        content: 'معطل' !important;
        right: 28px;
        left: auto !important;
        font-family: 'Cairo' !important;
        white-space: nowrap;
    }

    .delivered .subDay .status:after {
        content: 'تم التوصيل' !important;
        display: flex;
        right: 28px;
        left: auto !important;
        font-family: 'Cairo' !important;
        white-space: nowrap;
    }

    // calendar weeks
    .Weeks_Container .name {
        border-left: 1px solid rgb(188, 188, 188) !important;
        border-right: none !important;

        &:last-child {
            border-left: none !important;
        }
    }

    .Weeks_Container .active {
        padding-bottom: 3px !important;
    }

    // All programs
    #AllPrograms .owl-item:first-child {
        margin-right: 100px !important;
    }

    // boot -> profile
    .content .user .bubble:before {
        right: auto !important;
        left: -3px;
    }

    .me-auto {
        margin-right: 0px !important;
        margin-left: auto !important;
    }

    @media all and (max-width:991.5px){
        .dropdown-menu[data-bs-popper] {
          left: 0 !important;
        }
      }


 

    @media all and (max-width:1035px) and (min-width: 992px){
        .mega-menu .menu-links li a {
            font-size: 0.833em !important;
        }
    }


    @media all and (max-width:770px){
        nav.mega-menu .navbar {
            margin-top: 30px;
        }
      }
   

    .Hold .subDay .status:after {
        left: -45px !important;
    }
    .Deliveried .subDay .status:after {
        left: -70px !important;
    }
    .Pending .subDay .status:after {
        content: 'Pending';
        left: -70px !important;
    }
    .Restricited .subDay .status:after {
        left: -40px !important;
    }
    .Canceld .subDay .status:after {
        left: -40px !important;
    }
    .NotDelivered .subDay .status:after {
        left: -70px !important;
    }
    
    .Deliveried .subDay .status:after {
        content: 'تم التوصيل' !important;
    }

    .Pending .subDay .status:after {
        content: 'قيد الانتظار' !important;
    }

    .Hold .subDay .status:after {
        content: 'توقفت' !important;
    }

    .Canceld .subDay .status:after {
        content: 'ألغيت' !important;
    }

    .NotDelivered .subDay .status:after {
        content: 'يتم التحضير' !important;
    }

    .Restricited .subDay .status:after {
        content: 'مقيده' !important;
    }

    #options_container::after {
        left: 100% !important;
        text-align: left !important;
    }
}