<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
      <div class="row text-center intro-title">
         <h1 class="text-orange">{{"404.title"|translate}}</h1>
         <p class="text-white">{{"404.desc"|translate}}</p>
         <ul class="page-breadcrumb">
           <li><a routerLink=""><i class="fa fa-home"></i> {{"pages.home"|translate}}</a> <i class="fa fa-angle-double-right"></i></li>
           <li><span>{{"404.title"|translate}}</span></li>
        </ul>
        </div>
     </div>
   </div>
  
 
 <section class="error-page page-section-ptb">
 <div class="container">
   <div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="error-content text-center">
        <img class="img-responsive center-block" src="../../../assets/images/404/image-404.jpg" alt=""> 
       <h3 class="text-orange">{{"404.content.header"|translate}} </h3>
       <strong class="text-black d-flex justify-content-center align-items-center flex-wrap">
         <span>{{"404.content.main"|translate}}</span>
         <ng-lottie height="50px" [options]="options"></ng-lottie>
        </strong>
          <p>{{"404.content.footer"|translate}}</p>
         <div class="link-button">
             <a  routerLink="" class="button black">{{"buttons.goHome"|translate}}</a>
        </div>  
       </div>            
     </div>
    </div>
  </div>
 </section>