<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
    <div class="container">
        <div class="row text-center intro-title">
            <h1 class="text-orange">{{"pages.forgetPassword.title"|translate}}</h1>
            <p class="text-white">{{"pages.forgetPassword.desc"|translate}}</p>
            <ul class="page-breadcrumb">
                <li><a routerLink=""><i class="fa fa-home"></i> {{"pages.home"|translate}}</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>{{"pages.forgetPassword.title"|translate}}</span></li>
            </ul>
        </div>
    </div>
</div>

<main class="py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">{{"pages.forgetPassword.title"|translate}}</div>
                    <div class="card-body">
                        <div class="contact-form">
                            <div class="row">
                                <div class="col-12">
                                    <div class="w-75 m-auto my-2 form-field">
                                        <i class="fa fa-envelope"></i>
                                        <input type="email" placeholder="Email*" class="text-dark" #forgetInput
                                            name="email">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="w-75 m-auto my-2 form-submit text-center">
                                        <button id="submit" name="Submit" type="submit" value="Send"
                                            class="button w-100" (click)="forgetPassword(forgetInput)">{{"pages.resetPassword.title"|translate}}
                                            <ng-container *ngIf="btnStatus">
                                                <i class="fa-solid fa-circle-notch fa-spin p-0"></i>
                                            </ng-container>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>