<div class="inner-intro parallax bg-overlay-black-70 bg-darkImg">
  <div class="container">
    <div class="row text-center intro-title">
      <h1 class="text-orange">FAQ</h1>
      <p class="text-white">We Know The Secret Of Your Success</p>
      <ul class="page-breadcrumb">
        <li><a routerLink=""><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
        <li><span>Questions</span></li>
      </ul>
    </div>
  </div>
</div>

<section class="page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-12 my-2">
        <div class="accordion">
          <div class="acd-group">
            <a class="acd-heading" data-bs-toggle="collapse" data-bs-target="#collapseExample">
              There are basically six key areas to higher
            </a>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              It has survived not only five centuries, but also the leap into electronic typesetting.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
              numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro
              quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
              eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 my-2">
        <div class="accordion">
          <div class="acd-group">
            <a class="acd-heading" data-bs-toggle="collapse" data-bs-target="#collapseExample2">
              There are basically six key areas to higher
            </a>
          </div>
          <div class="collapse" id="collapseExample2">
            <div class="card card-body">
              It has survived not only five centuries, but also the leap into electronic typesetting.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
              numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro
              quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
              eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 my-2">
        <div class="accordion">
          <div class="acd-group">
            <a class="acd-heading" data-bs-toggle="collapse" data-bs-target="#collapseExample3">
              There are basically six key areas to higher
            </a>
          </div>
          <div class="collapse" id="collapseExample3">
            <div class="card card-body">
              It has survived not only five centuries, but also the leap into electronic typesetting.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
              numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Neque porro
              quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
              eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>